<div class="pictures-header">

    <!-- Desktop Filters -->
    <div class="visible-desktop">

      <div id="view-mode-group" class="btn-group pictures-header-option">
        <button class="btn" href="#pictures/cover-view"><i class="icon-th-large"></i></button>
        <button class="btn" href="#pictures/list-view"><i class="icon-th-list"></i></button>
      </div>

      <div class="input-append pictures-header-option">
        <input class="movie-search" type="text" name="search" value="{{ term }}" placeholder="Search pictures...">
      </div>

    </div>

    <!-- Desktop Filters -->
    <div class="hidden-desktop">

      <ul class="hit-nav-proportional three touch-pictures-nav">
        <li class="touch-pictures-search"><i class="icon-search icon-white"></i><span class="show">&nbsp;Search</span></li>
        <li class="touch-pictures-default"><i class="icon-refresh icon-white"></i><span class="show">&nbsp;Default</span></li>
      </ul>

    </div>

</div>