<div class="header">
    <h2>{{ label }}</h2>
    <a class="btn btn-success btn-block" href="#" data-action="play"><i class="icon-play icon-white"></i>&nbsp;Play Picture</a>
</div>
<div class="m-data">
    <img class="picture" src="{{ image file }}">
</div>