<div class="row-fluid">
    <div class="header">
        <h3>Pictures {{ directory }}</h3>
        <a href="#" data-action="parent-directory" class="btn btn-success btn-block pull-right"><i class="icon-folder-open icon-white"></i>&nbsp;Parent <span class="visible-desktop">Folder</span></a>
    </div>
</div>

<div>
    <ul class="pictures listView clearfix"></ul>
</div>
