<div class="modal-header">
    <a class="close" href="#">x</a>
    <h2>Actions</h2>
</div>

<div class="modal-body content-centered">
    <form class="form-search">
      <button class="btn" data-action="play-slideshow"><i class="icon-play"/>Play Slideshow</button>
      <button class="btn" data-action="watch-slideshow"><i class="icon-film"/>Watch Slideshow</button>
    </form>
</div>