<div class="pictures-header">

    <!-- Desktop Filters -->
    <div class="visible-desktop">

      <div id="view-mode-group" class="btn-group pictures-header-option">
        <button class="btn" href="#pictures/cover-view"><i class="icon-th-large"></i></button>
        <button class="btn" href="#pictures/list-view"><i class="icon-th-list"></i></button>
      </div>

      <div class="input-append pictures-header-option">
        <input class="movie-search" type="text" name="search" value="{{ term }}" placeholder="Search pictures...">
        <div class="btn-group">
          <button class="btn clear" href="#"><i class="icon-remove"></i></button>
          <button class="btn search" href="#"><i class="icon-search"></i></button>
        </div>
      </div>

    </div>

    <!-- Desktop Filters -->
    <div class="hidden-desktop">

      <ul class="hit-nav-proportional three touch-pictures-nav">
        <li class="touch-pictures-search"><i class="icon-search icon-white"></i><span class="show">&nbsp;Search</span></li>
        <li class="invisible"></li>
        <li class="touch-pictures-actions"><i class="icon-play icon-white"></i><span class="show">&nbsp;Actions</span></li>
      </ul>

    </div>

</div>