<div class="header">
    <h2>{{ label }}</h2>
    <a class="btn btn-success btn-block" href="#" data-action="play"><i class="icon-play icon-white"></i>&nbsp;Play Picture</a>
    <a href="#" data-action="parent-directory" class="btn btn-success btn-block pull-right"><i class="icon-folder-open icon-white"></i>&nbsp;Parent <span class="visible-desktop">Folder</span></a>
</div>
<div class="data">
    <img class="picture" src="{{ encodedPath }}">
</div>