<div class="pictureContainer">
	{{#if directory}}
    	<img src="img/svg/media/folder.svg">
    {{else}}
        <img src="{{ image file }}">
    {{/if}}

    <div class="picture-caption">
    	<span>{{ label }}</span>
    </div>
</div>