<div class="header">
    <h2>Slideshow {{ files.label }}</h2>
    <a href="#" data-action="fullscreen" class="btn btn-success btn-block">Full Screen</a>
    <a href="#" data-action="back-folder" class="btn btn-success btn-block pull-right"><i class="icon-chevron-left icon-white"></i>&nbsp;<span class="visible-desktop">Back to Folder</span></a>
</div>

<div id="pictureCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {{#each files}}
      {{#if this.firstItem}}
        <div class="active item"><img class='carousel-image' src="{{ this.encodedPath }}"></div>
      {{else}}
        <div class="item"><img class='carousel-image' src="{{ this.encodedPath }}"></div>
      {{/if}}
    {{/each}}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#pictureCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#pictureCarousel" data-slide="next">&rsaquo;</a>
</div>