<div class="pictureContainer">
	{{#if directory}}
    	<img src="{{ image thumbnail }}" onerror="this.src='img/svg/media/folder.svg'">
    {{else}}
        <img src="{{ image thumbnail }}">
    {{/if}}

    <div class="picture-caption">
    	<span>{{ label }}</span>
    </div>
</div>