<div class="players-container">

    <div class="players-list-container">
        <ul class="players nav nav-tabs"></ul>
    </div>

    <div class="no-players-container row-fluid">
    	<div class="span2"></div>
    	<div class="alert alert-info span8">
    		<span>
    			<b class="show">No Items Playing</b>
    			There is no players in use
			</span>
		</div>
		<div class="span2"></div>
    </div>

</div>