<div class="container-fluid">
    <div class="mobile-search-menu">
        <i class="icon-search icon-white"></i>
    </div>


    <div id="tvshow-filter" class="row-fluid"></div>

    <div id="tvshow-list" class="row-fluid"></div>
</div>