<div class="pull-left">
    <div class="btn-group">
        <a href="#" data-filter="all" class="btn active">All</a>
        <a href="#" data-filter="unwatched" class="btn">Unwatched</a>
        
    </div>
</div>
<div class="pull-right">
    <div class="btn-group">
        <a href="#" data-filter="genre" class="btn">Genre: All</a>
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul id="tvshow-genre-list" class="dropdown-menu"></ul>
    </div>
</div>
