<div class="movieContainer">
    {{#if thumbnail}}
        <img src="{{ thumbnail }}">
    {{else}}
    	<div class="no-img"></div>
    {{/if}}

    <div class="movie-caption">
    	<span>{{ label }}</span>
    </div>
</div>