<div class="movieContainer" data-touchable="black">
    {{#if thumbnail}}
        <img src="{{ thumbnail }}">
    {{else}}
    	<img src="img/svg/media/defaultMovie.svg">
    {{/if}}

    <div class="movie-caption">
    	<span>{{ label }}</span>
    </div>
</div>