<div class="btn-group">
  <button class="btn" href="#movies/cover-view" data-mode="cover"><i class="icon-th-large"></i></button>
  <button class="btn" href="#movies/list-view" data-mode="list"><i class="icon-th-list"></i></button>
</div>