<div class="albumContainer" data-touchable="black">
    {{#if thumbnail}}
        <img src="{{ thumbnail }}" onerror="this.src='img/svg/media/defaultAlbum.svg'">
    {{else}}
        <img src="img/svg/media/defaultAlbum.svg">
    {{/if}}

    <div class="album-caption">
        <span>{{ label }}</span>
    </div>
</div>