<a href="#albums/{{ albumid }}">{{ label }}</a>
&mdash;
<a href="#artists/{{ artistid }}">{{ artist }}</a>
<br>
<a class="add-to-playlist" href="#">Add to Playlist</a>
&mdash;
<a class="play" href="#">Play</a>