<div class="albumContainer">
    {{#if thumbnail}}
        <img src="{{ thumbnail }}">
    {{else}}
        <img src="img/svg/media/defaultAlbum.svg">
    {{/if}}

    <div class="album-caption">
        <span>{{ label }}</span>
    </div>
</div>