<div class="hidden-desktop album-caption">
	<span>{{ label }}</span>
	<div class="pull-right">
		<a href="#" data-action="play" class="btn btn-success btn-block">
			<i class="icon-play icon-white"/>
		</a>
	 	<a href="#" data-action="playlist" class="btn btn-primary btn-block">
	 		<i class="icon-time icon-white"/>
	 	</a>
	</div>
</div>
<div>
    <ul class="songs"></ul>
</div>
