<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li><a href="#artists">Artists</a></li>
                <li><a href="#albums">Albums</a></li>
                <li class="active"><a href="#songs">Songs</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>{{ label }} &mdash; <a href="#artists/{{ artistid }}">{{ artist }}</a></h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="songs"></ul>
        </div>
    </div>
</div>