<a href="#albums/{{ albumid }}">{{ label }}</a>

{{#if artist}}
    &mdash;
    <a href="#artists/{{ artistid }}">{{ artist }}</a>
{{/if}}

<br>
<a class="add-to-playlist" href="#">Add to Playlist</a>
&mdash;
<a class="play" href="#">Play</a>