<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <h3>Artists</h3>
            <p>
                Search:
                <input type="text" name="search" value="{{ term }}">
                {{#if term}}
                    <a class="btn clear" href="#">Clear</a>
                {{/if}}
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="artists"></ul>
        </div>
    </div>
</div>