<div class="album-caption">
    <span>{{ label }}</span>
</div>

{{#if thumbnail}}
    <img src="{{ thumbnail }}">
{{else}}
    <img src="img/svg/media/defaultAlbum.svg">
{{/if}}

<div class="album-desktop-buttons">
	<a href="#" data-action="play-album" class="btn btn-success btn-block">
		<i class="icon-play icon-white"/>
	</a>
 	<a href="#" data-action="playlist-album" class="btn btn-primary btn-block">
 		<i class="icon-time icon-white"/>
 	</a>
</div>