<div class="artistContainer">
    {{#if thumbnail}}
        <img src="{{ thumbnail }}">
    {{else}}
    	<img src="img/svg/media/defaultMovie.svg">
    {{/if}}

    <div class="artist-caption">
    	<span>{{ label }}</span>
    </div>
</div>