<div class="artistContainer clearfix" data-touchable="black">
	<div class="artist-image">
		{{#if thumbnail}}
        <img src="{{ thumbnail }}" onerror="this.src='img/svg/media/defaultArtist.svg'">
    	{{else}}
    	<img src="img/svg/media/defaultArtist.svg">
    	{{/if}}
	</div>

    <div class="artist-info">
    	<div class="artist-title">{{ label }}</div>
    	<div class="plot-container"><span class="info-key"></span> {{ description }}</div>
    </div>
</div>