<div class="row-fluid">
    {{#if artistMode}}
    <div class="span12">
        <h3>Albums</h3>
    </div>
	{{/if}}
</div>

<div class="row-fluid">
    <div class="span12">
        <ul class="albums"></ul>
    </div>
</div>
