<div class="container-fluid">
	<div>
    	<span id="album-detail" class="pull-left"></span>
		<span class="pull-right">
			<a href="#" data-action="play" class="btn btn-success btn-block"><i class="icon-play icon-white"/> <span class="visible-desktop">Play</span></a>
		 	<a href="#" data-action="playlist" class="btn btn-primary btn-block"><i class="icon-time icon-white"/> <span class="visible-desktop">Add to Playlist</span></a>
		</span>
    </div>	
    <div id="song-list"></div>
</div>

