<div class="container-fluid">
	<div>

		{{! Album image and title }}
    	<div id="album-detail" class="visible-desktop pull-left"></div>

    	{{! Song list }}
		<div class="pull-right">
			<a href="#" data-action="play" class="btn btn-success btn-block">
				<i class="icon-play icon-white"/>
				<span class="visible-desktop">Play</span>
			</a>
		 	<a href="#" data-action="playlist" class="btn btn-primary btn-block">
		 		<i class="icon-time icon-white"/>
		 		<span class="visible-desktop">Add to Playlist</span>
		 	</a>
		</div>

    </div>
    <div id="song-list"></div>
</div>

