<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#artists">Artists</a></li>
                <li><a href="#artists">Artists</a></li>
                <li><a href="#artists">Artists</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <a class="prev" href="#">Prev</a>
            <a class="next" href="#">Next</a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="artists"></ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <a class="prev" href="#">Prev</a>
            <a class="next" href="#">Next</a>
        </div>
    </div>
</div>