<div class="hit-media-music-separator">
	<div class="centered-container">
		<div class="hit-icon blue" href="#music/artists" data-mode="artists" data-touchable="black">
			<span>Artists</span>
			<img data-svg="media.artists" src="" />
		</div>
		<div class="hit-icon blue" href="#music/albums" data-mode="albums" data-touchable="black">
			<span>Albums</span>
			<img data-svg="media.albums" src="" />
		</div>
		<div class="hit-icon blue" href="#music/songs" data-mode="songs" data-touchable="black">
			<span>Songs</span>
			<img data-svg="media.songs" src="" />
		</div>
	</div>
</div>