<div class="hit-media-music-separator">
	<div class="centered-container">
		<div class="hit-icon blue" href="#music/artists" data-hit-icon-type="media.artists" data-mode="artists">
			<span>Artists</span>
		</div>
		<div class="hit-icon blue" href="#music/albums" data-hit-icon-type="media.albums" data-mode="albums">
			<span>Albums</span>
		</div>
		<div class="hit-icon blue" href="#music/songs" data-hit-icon-type="media.songs" data-mode="songs">
			<span>Songs</span>
		</div>
	</div>
</div>