<div class="hit-icon-container hit-widget">
	<div class="hit-icon blue" href="#music/artists" data-hit-icon-type="media.movies" data-mode="artists">
		<span>Artists</span>
	</div>
	<div class="hit-icon blue" href="#music/albums" data-hit-icon-type="media.series" data-mode="albums">
		<span>Albums</span>
	</div>
	<div class="hit-icon blue" href="#music/songs" data-hit-icon-type="media.music" data-mode="songs">
		<span>Songs</span>
	</div>
</div>