<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>Playlists</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="playlists nav nav-tabs"></ul>
        </div>
    </div>
</div>