.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') HomeInTouch
      .nav-collapse
        ul.nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Basement
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Utility room
              li
                a(href='#') Storage
              li
                a(href='#') Laundry
        ul.nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Ground floor
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Kitchen
              li
                a(href='#') Den
              li
                a(href='#') Living room
        ul.nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Upstairs
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Master bedroom
              li
                a(href='#') Guest bedroom
              li
                a(href='#') Bathroom
        ul#home-select-list.nav.pull-right
