.container-fluid
  .room-header.row-fluid
    .room.span9
      .pull-right
        button +
      p A Room Name

  .room-devices.row-fluid
    .room-device.span3
      .pull-right
        button +
      p Device Type
      ul
        li Device 1 Name (State)
        li Device 2 Name (State)
        li Device 3 Name (State)
        li Device 4 Name (State)

    .room-device.span3
      .pull-right
        button +
      p Device Type
      ul
        li Device 1 Name (State)
        li Device 2 Name (State)
        li Device 3 Name (State)
        li Device 4 Name (State)

    .room-device.span3
      .pull-right
        button +
      p Device Type
      ul
        li Device 1 Name (State)
        li Device 2 Name (State)
        li Device 3 Name (State)
        li Device 4 Name (State)

