.container-fluid
  .room-header.row-fluid
    .room.span9
      \A Room Name
      .room.pull-right
        button +

  .room-devices.row-fluid
    .room-device.span3
      p A Device Name

    .room-device.span3
      p A Device Name

    .room-device.span3
      p A Device Name
