!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Home In Touch
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(id="home-list-template", type="text/template")
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        | <%= name %>
        b.caret
      ul.dropdown-menu

    script(id="home-item-template", type="text/template")
      a(href='#') <%= name %>

    script(id="floor-item-template", type="text/template")
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | <%= name %>
          b.caret
        ul.dropdown-menu
          li.divider
          li.add-room
            a(href="#") New Room ...

    script(id="floor-list-template", type="text/template")
      ul.nav.add-new
        li
          a(href="").add-floor New Floor ...

    script(id="floor-add-template", type="text/template")
      .modal-header
        h2 Add A New Floor To <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right 
              strong Name
          .span3
            input(id="name", placeHolder="2nd floor")
        .row
          .span2
            label(for="rooms").pull-right
              strong Rooms
              br
              | (comma separated)
          .span3
            textarea(id="rooms", placeHolder="Room 1, Room 2, Room 3")
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").save.btn.btn-primary Save

    script(id="room-item-template", type="text/template")
      li
        a(href='#') <%= name %>

    script(id="room-layout-template", type="text/template")
      .container-fluid
        .room-header.row-fluid
          .room.span9
            .pull-right
              button(class="btn").addDeviceType +
            h2 <%= name %>

        .room-devices.row.span9

    script(id="room-add-template", type="text/template")
      .modal-header
        h2 Add A New Room To <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right 
              strong Name
          .span3
            input(id="name", placeHolder="Kitchen")
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").save.btn.btn-primary Save

    script(id="no-floors-template", type="text/template")
      .container-fluid
        .span9
          h2 No Floors Or Rooms To Display
        .span9
          | Please add a floor and rooms to this home

    script(id="device-list-template", type="text/template")
      .pull-right
        button(class="btn").addDevice +
      h3 <%= name %>
      ul

    script(id="device-list-switch-item-template", type="text/template")
      a(href="#") <%= name %> ( <%= getAddress("read_switch").value ? "On" : "Off" %> )

    script(id="device-list-dimmer-item-template", type="text/template")
      a(href="#") 
        | <%= name %> ( 
        | <%= getAddress("read_switch").value ? "On" : "Off" %> 
        | /
        | <%= getAddress("read_dimmer").value %> 
        | )

    script(id="device-list-thermostat-item-template", type="text/template")
      a(href="#") <%= name %> 

    script(id="device-add-switch-template", type="text/template")
      .modal-header
        h2 Add A New <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right Name
          .span3
            input(id="name", placeHolder="Office Lamp")
        .row
          .span2
            label(for="read_switch").pull-right Read Address
          .span3
            input(id="read_switch", placeHolder="#/#/#")
        .row
          .span2
            label(for="write_switch").pull-right Write Address
          .span3
            input(id="write_switch", placeHolder="#/#/#")
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Add

    script(id="device-view-switch-template", type="text/template")
      .modal-header
        h2 <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right Name
          .span3
            <%= name %>
        .row
          .span2
            label(for="read_address").pull-right Read Address
          .span3
            <%= getAddress('read_switch').address %>
        .row
          .span2
            label(for="write_address").pull-right Write Address
          .span3
            <%= getAddress('write_switch').address %>
        .row
          .span2
            label(for="write_address").pull-right Status
          .span3
            .switch.btn-group(data-toggle="buttons-radio")
              .btn.on On
              .btn.off Off
      .modal-footer
        a(href="#").delete.btn.pull-left Delete
        a(href="#").cancel.btn.btn-primary Close

    script(id="device-add-dimmer-template", type="text/template")
      .modal-header
        h2 Add A New <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right Name
          .span3
            input(id="name", placeHolder="Ceiling Fan")
        .row
          .span2
            label(for="read_switch").pull-right Read Switch Address
          .span3
            input(id="read_switch", placeHolder="#/#/#")
        .row
          .span2
            label(for="write_switch").pull-right Write Switch Address
          .span3
            input(id="write_switch", placeHolder="#/#/#")
        .row
          .span2
            label(for="read_dimmer").pull-right Read Dimmer Address
          .span3
            input(id="read_dimmer", placeHolder="#/#/#")
        .row
          .span2
            label(for="write_dimmer").pull-right Write Dimmer Address
          .span3
            input(id="write_dimmer", placeHolder="#/#/#")
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Add

    script(id="device-view-dimmer-template", type="text/template")
      .modal-header
        h2 <%= name %>
      .modal-body
        .row
          .span3
            label(for="name").pull-right Name
          .span3
            <%= name %>
        .row
          .span3
            label(for="read_address").pull-right Read Switch Address
          .span3
            <%= getAddress('read_switch').address %>
        .row
          .span3
            label(for="write_address").pull-right Write Switch Address
          .span3
            <%= getAddress('write_switch').address %>
        .row
          .span3
            label(for="read_address").pull-right Read Dimmer Value Address
          .span3
            <%= getAddress('read_dimmer').address %>
        .row
          .span3
            label(for="write_address").pull-right Write Dimmer Value Address
          .span3
            <%= getAddress('write_dimmer').address %>
        .row
          .span3
            label.pull-right Switch Status
          .span3
            .switch.btn-group(data-toggle="buttons-radio")
              .btn.on On
              .btn.off Off
        .row
          .span3
            label.pull-right Dimmer Status
          .span3
            input.dimmer.pull-left(type="range", min="0", max="255", width="50", value!="<%= getAddress('read_dimmer').value %>")
      .modal-footer
        a(href="#").delete.btn.pull-left Delete
        a(href="#").cancel.btn.btn-primary Close

    script(id="device-add-thermostat-template", type="text/template")
      .modal-header
        h2 Add A New <%= name %>
      .modal-body
        .row
          .span3
            label(for="name").pull-right Name
          .span3
            input(id="name", placeHolder="Living Room")
        .row
          .span3
            label(for="write_mode").pull-right Write Mode Address
          .span3
            input(id="write_mode", placeHolder="#/#/#")
        .row
          .span3
            label(for="read_mode").pull-right Read Mode Address
          .span3
            input(id="read_mode", placeHolder="#/#/#")
        .row
          .span3
            label(for="read_temperature_actual").pull-right Read Temp Address
          .span3
            input(id="read_temperature_actual", placeHolder="#/#/#")
        .row
          .span3
            label(for="read_temperature_set").pull-right Read Temp Setpoint Address
          .span3
            input(id="read_temperature_set", placeHolder="#/#/#")
        .row
          .span3
            label(for="write_temperature_set").pull-right Write Temp Setpont Address
          .span3
            input(id="write_temperature_set", placeHolder="#/#/#")
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Add

    script(id="device-view-thermostat-template", type="text/template")
      .modal-header
        h2 <%= name %>
      .modal-body
        .row
          .span3
            label(for="name").pull-right Name
          .span3
            <%= name %>
        .row
          .span3
            label(for="write_mode").pull-right Write Mode Address
          .span3
            <%= getAddress('write_mode').address %>
        .row
          .span3
            label(for="read_mode").pull-right Read Mode Address
          .span3
            <%= getAddress('read_mode').address %>
        .row
          .span3
            label(for="read_temperature_actual").pull-right Read Temp Address
          .span3
            <%= getAddress('read_temperature_actual').address %>
        .row
          .span3
            label(for="read_temperature_set").pull-right Read Temp Setpoint Address
          .span3
            <%= getAddress('read_temperature_set').address %>
        .row
          .span3
            label(for="write_temperature_set").pull-right Write Temp Setpont Address
          .span3
            <%= getAddress('write_temperature_set').address %>
        .row
          .span3
            label.pull-right Mode
          .span3
            .mode.btn-group(data-toggle="buttons-radio")
              .btn.btn-mini.standby(data-mode="2") Standby
              .btn.btn-mini.comfort(data-mode="1") Comfort
              .btn.btn-mini.night(data-mode="3") Night
              .btn.btn-mini.frost(data-mode="4") Frost
        .row
          .span3
            label.pull-right Thermostat Set To
          .span3.setpoint
            input.span1(type="number", min="0", max="100", value!="<%= getAddress('read_temperature_set').value %>")
        .row
          .span3
            label.pull-right Current Temperature
          .span3.actual
      .modal-footer
        a(href="#").delete.btn.pull-left Delete
        a(href="#").cancel.btn.btn-primary Close

    script(id="device-add-shutter-template", type="text/template")
      .modal-header
        h2 Add A New <%= name %>
      .modal-body
        p Form to add a new shutter switch
      .modal-footer
        a(href="#").cancel.btn Cancel
        // a(href="#").add.btn.btn-primary Add

    script(id="device-view-shutter-template", type="text/template")
      .modal-header
        h2 <%= name %>
      .modal-body
        p Form to view a shutter switch and control it
      .modal-footer
        a(href="#").delete.btn.pull-left Delete
        a(href="#").cancel.btn.btn-primary Close

    script(id="device-add-group-to-room-template", type="text/template")
      .modal-header
        h2 Add Devices To <%= name %>
      .modal-body
        .row
          .span2
            label(for="type").pull-right Device Type
          .span3
            select(id="type")
              <% _.each(deviceTypes, function(type){ %>
              option(value!="<%= type.type %>") <%= type.name %>
              <% }) %>
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Next >>

  body(data-spy='scroll')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') HomeInTouch
          .nav-collapse
            #floor-list
            ul#home-list.nav.pull-right

    #main-content!= body

    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/backbone-min.js')
    script(src='/js/backbone.marionette.min.js')
    script(src='/js/backbone.formhelpers.js')
    script(src='/js/backbone.ponzi.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/socket.io.min.js')
    script(src='/js/app.js')
    script(src='/js/app.viewhelpers.js')
    script(src='/js/app.socketadapter.js')
    script(src='/js/app.models.js')
    script(src='/js/app.devicetypes.js')
    script(src='/js/app.homelist.js')
    script(src='/js/app.floorlist.js')
    script(src='/js/app.roommanager.js')
    script(src='/js/app.devicemanager.js')
    script
      $(document).ready(function() {
        var options = {
          //rootUrl: "http://trendsetterin.selfhost.eu:8081"
          rootUrl: "http://localhost:8081"
        };
        HomeInTouch.start(options);
      })

    #modal.modal
