!!! 5
html(lang='en')
  head

    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
<<<<<<< HEAD

    title HOME in touch

=======
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
>>>>>>> add meta tags for iDevices
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    include templates/navbar

    include templates/home

    include templates/room

    include templates/switch-device

    include templates/dimmer-device

    include templates/thermostat-device

    include templates/shutter-device

  body(data-spy='scroll')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') HOME in touch
          .nav-collapse
            #floor-list
            ul#home-list.nav.pull-right
            .divider-vertical.pull-right

    #main-content!= body

    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/backbone-min.js')
    script(src='/js/backbone.marionette.min.js')
    script(src='/js/backbone.formhelpers.js')
    script(src='/js/backbone.ponzi.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/socket.io.min.js')
    script(src='/js/app.js')
    script(src='/js/app.viewhelpers.js')
    script(src='/js/app.socketadapter.js')
    script(src='/js/app.models.js')
    script(src='/js/app.devicetypes.js')
    script(src='/js/app.homelist.js')
    script(src='/js/app.floorlist.js')
    script(src='/js/app.roommanager.js')
    script(src='/js/app.devicemanager.js')
    script
      $(document).ready(function() {
        var options = {
          rootUrl: "http://trendsetterin.selfhost.eu:8081"
          //rootUrl: "http://localhost:8081"
        };
        HomeInTouch.start(options);
      })

    #modal.modal
