!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Home In Touch
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(id="home-list-template", type="text/template")
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        | <%= name %>
        b.caret
      ul.dropdown-menu

    script(id="home-item-template", type="text/template")
      a(href='#') <%= name %>

    script(id="floor-item-template", type="text/template")
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | <%= name %>
          b.caret
        ul.dropdown-menu

    script(id="room-item-template", type="text/template")
      li
        a(href='#') <%= name %>

    script(id="room-layout-template", type="text/template")
      .container-fluid
        .room-header.row-fluid
          .room.span9
            .pull-right
              button(class="btn").addDeviceType +
            p <%= name %>

        .room-devices.row.span9

    script(id="device-list-template", type="text/template")
      .pull-right
        button(class="btn").addDevice +
      p <%= name %>
      ul

    script(id="device-list-item-template", type="text/template")
      a(href="#") <%= name %> ( <%= _.find(addresses, function(addr){return addr.name == "read_address"}).value %> )

    script(id="device-add-type-zero-template", type="text/template")
      .modal-header
        h2 Add A New <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right Name
          .span3
            input(id="name", placeHolder="Office Lamp")
        .row
          .span2
            label(for="read_address").pull-right Read Address
          .span3
            input(id="read_address", placeHolder="#/#/#")
        .row
          .span2
            label(for="write_address").pull-right Write Address
          .span3
            input(id="write_address", placeHolder="#/#/#")
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Add

    script(id="device-edit-type-zero-template", type="text/template")
      .modal-header
        h2 <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right Name
          .span3
            input(id="name", placeHolder="Office Lamp", value!="<%= name %>")
        .row
          .span2
            label(for="read_address").pull-right Read Address
          .span3
            input(id="read_address", placeHolder="0/1/0")
        .row
          .span2
            label(for="write_address").pull-right Write Address
          .span3
            input(id="write_address", placeHolder="0/1/1")
        .row
          .span2
            label(for="write_address").pull-right Status
          .span3
            .switch.btn-group(data-toggle="buttons-radio")
              .btn.on On
              .btn.off Off
      .modal-footer
        a(href="#").cancel.btn Close
        a(href="#").add.btn.btn-primary Save

    script(id="device-add-type-one-template", type="text/template")
      .modal-header
        h2 Add A New <%= name %>
      .modal-body
        .row
          .span2
            label(for="name").pull-right Name
          .span3
            input(id="name", placeHolder="Dining Room Dimmer")
        .row
          .span2
            label(for="read_address").pull-right Read On/Off Address
          .span3
            input(id="read_address", placeHolder="0/1/0")
        .row
          .span2
            label(for="write_address").pull-right Write On/Off Address
          .span3
            input(id="write_address", placeHolder="0/1/1")
        .row
          .span2
            label(for="read_address").pull-right Read Value Address
          .span3
            input(id="read_address", placeHolder="0/1/0")
        .row
          .span2
            label(for="write_address").pull-right Write Value Address
          .span3
            input(id="write_address", placeHolder="0/1/1")
      
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Add

    script(id="device-edit-type-one-template", type="text/template")
      .modal-header
        h2 <%= name %>
      .modal-body
        p The form for editing
      .modal-footer
        a(href="#", class="cancel btn") Close
        a(href="#", class="save btn btn-primary") Save

    script(id="device-add-group-to-room-template", type="text/template")
      .modal-header
        h2 Add Devices To <%= name %>
      .modal-body
        .row
          .span2
            label(for="type").pull-right Device Type
          .span3
            select(id="type")
              <% _.each(deviceTypes, function(type){ %>
              option(value!="<%= type.id %>") <%= type.name %>
              <% }) %>
      .modal-footer
        a(href="#").cancel.btn Cancel
        a(href="#").add.btn.btn-primary Next >>

  body(data-spy='scroll')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') HomeInTouch
          .nav-collapse
            #floor-list
            ul#home-list.nav.pull-right

    #main-content!= body

    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/backbone-min.js')
    script(src='/js/backbone.marionette.min.js')
    script(src='/js/backbone.formhelpers.js')
    script(src='/js/backbone.ponzi.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/socket.io.min.js')
    script(src='/js/app.js')
    script(src='/js/app.socketadapter.js')
    script(src='/js/app.models.js')
    script(src='/js/app.devicetypes.js')
    script(src='/js/app.homelist.js')
    script(src='/js/app.floorlist.js')
    script(src='/js/app.roommanager.js')
    script(src='/js/app.devicemanager.js')
    script
      $(document).ready(function() {
        var options = {
          //rootUrl: "http://trendsetterin.selfhost.eu:8081"
          rootUrl: "http://localhost:8081"
        };
        HomeInTouch.start(options);
      })

    #modal.modal
