// Imports the less dependencies for movies pages
@import "hit-media-movies";
@import "hit-media-music";
@import "hit-media-series";


/** DASHBOARD WIDGETS **/
.mediaWidget {
	span {
		width: 125px;
		margin: 0px 5px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
	}
	.mediaTitle {
		top: 0px;
	}
	.mediaSubtitle {
		font-size: 0.8em;
		position: initial;
	}
	.mediaThumbnail {
		height: 100px;
		width: 135px; // WARNING! If the medium class change, this value has to be updated
		vertical-align: middle;
		display: table-cell;

		img {
			max-width: 100px;
			max-height: 100px;
		}
	}
}