// LESS hit-media-series

.tvshows {
	margin: 0px;

	li.tvshow:nth-child(odd) {
		.with-border-color(@gray);
	}
	li.tvshow:nth-child(even) {
		.with-border-color(@darkGray);
	}

	li.tvshow {
		margin: 5px;
		list-style: none;
		display: block;

		border-style: solid;
	  	border-width: 1px;
	  	border-radius: 5px;
	  	
	  	height: 165px;

	  	.tvshow-image {
	  		float: left;
	  		height: 100%;
	  		width: 195px;

		  	img, .no-img {
			  	height: 145px;
			  	width: 175px;
			  	margin: 10px;
			}
			.no-img {
				background-repeat: no-repeat;
				background-position: center;
			}
	  	}

		.tvshow-info {
			margin-left: 120px;
			margin: 10px;
			max-height: 145px;
			overflow: hidden;
			color: white;

			div {
				font-size: 0.9em;
				color: darken(white, 30%);
			}
			.info-key {
				font-weight: bold;
				color: white;
			}

			div.tvshow-title {
				font-size: 1.2em;
				color: @yellow;
				font-weight: bold;
			}
		}
	}
}

div.tvshow-banner {

	margin: 0px 5px;

  	img, .no-img {
	}
	.no-img {
		background-repeat: no-repeat;
		background-position: center;
	}
}

#tvshow-filter .tvshow-header {
	.with-border-color(@gray);
	padding: 5px 10px;
	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
  	display: block;

  	.tvshow-header-option {
  		display: inline;
  		margin: 5px 0px;
  	}
  	.tvshow-header-option~.tvshow-header-option {
  		margin-left: 5px;
  	}

  	.btn-group ~ .btn-group {
  		margin-left: 10px;
  	}
}

.touch-tvshow-nav {
	color: white;

	li {
		padding: 3px 0px;
		border-radius: 5px;
	}
	li:hover {
		background: rgba(51, 51, 51, 0.8);
	}
	li.active {
		background: rgba(122, 122, 122, 0.8);
	}
}

// SEASONS

/* SEASON COVER VIEW */

.seasonsResponsiveCoverView (@proportion: 1) {
	li.season {
	  	height: 178px * @proportion;
	  	width: 124px * @proportion;
	  	margin: 5px * @proportion;
	  	img, .no-img {
	  		width: 114px * @proportion;
	  		height: 168px * @proportion;
		  	margin: 5px * @proportion;
		}
	}
}

.seasons {
	.seasonsResponsiveCoverView(1.5);
	margin: 0px;
	li.season {
		float: left;
		list-style: none;
	  	position: relative;
	  	.with-border-color(@gray);
		border-style: solid;
	  	border-width: 1px;
	  	border-radius: 5px;
		.no-img {
			background-repeat: no-repeat;
			background-position: center;
		}
		.season-caption {
			width: 100%;
			position: absolute;
			right: 0;
			bottom: 10px;
			left: 0;
			background: #333;
			background: rgba(0, 0, 0, 0.75);
			color: white;
			span {
				padding: 5px 10px;
				display: block;
				max-height: 35px;
				overflow: hidden;
			}
		}
	}
}

/* Large desktop */
@media (max-width: 1200px) { 
	.seasons.coverView { .seasonsResponsiveCoverView(1.5); }
}

/* 1024 desktop */
@media (max-width: 1024px) { 
	.seasons.coverView { .seasonsResponsiveCoverView(1.39); }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 
	.seasons.coverView { .seasonsResponsiveCoverView(1); }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.seasons.coverView { .seasonsResponsiveCoverView(1.25); }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.seasons.coverView { .seasonsResponsiveCoverView(1); }
}

/* Portrait phones */
@media (max-width: 320px) {
	.seasons.coverView { .seasonsResponsiveCoverView(0.69); }
}

// EPISODES

.episodes {
	margin: 0px;

	li.episode:nth-child(odd) {
		.with-border-color-opacity(@gray, 75%);
	}
	li.episode:nth-child(even) {
		.with-border-color-opacity(@darkGray, 75%);
	}

	li.episode {
		margin: 5px;
		list-style: none;
		display: block;

		border-style: solid;
	  	border-width: 1px;
	  	border-radius: 5px;
	  	
	  	height: 165px;

	  	.episode-image {
	  		float: left;
	  		height: 100%;
	  		width: 170px;

		  	img, .no-img {
			  	height: 135px;
			  	width: 150px;
			  	margin: 10px;
			  	margin-top: 15px;
			}
			.no-img {
				background-repeat: no-repeat;
				background-position: center;
			}
	  	}

		.episode-info {
			margin-left: 120px;
			margin: 10px;
			max-height: 145px;
			overflow: hidden;
			color: white;

			div {
				font-size: 0.9em;
				color: darken(white, 20%);
			}
			.info-key {
				font-weight: bold;
				color: white;
			}

			span.episode-title {
				font-size: 1.2em;
				color: @yellow;
				font-weight: bold;
			}
		}
	}
}

@media (max-width: 480px) {

	.episodes li.episode {
		height: 145px;
	}

	.episodes li.episode .episode-info {
		max-height: 125px;
	}

	.episodes li.episode .episode-image {
		width: 150px;
	}
	
	.episodes li.episode .episode-image img {
		height: 115px;
		width: 130px;
		margin-top: 15px;
	}
}