/** ARTISTS LIST VIEW */

.artists.listView {
	margin: 0px;

	li.artist:nth-child(odd) {
		.with-border-color(@gray);
	}
	li.artist:nth-child(even) {
		.with-border-color(@darkGray);
	}

	li.artist {
		margin: 5px;
		list-style: none;
		display: block;

		border-style: solid;
	  	border-width: 1px;
	  	border-radius: 5px;
	  	
	  	height: 165px;

	  	.artist-image {
	  		float: left;
	  		height: 100%;
	  		width: 165px;

		  	img, .no-img {
			  	height: 145px;
			  	width: 145px;
			  	margin: 10px;
			}
			.no-img {
				background-repeat: no-repeat;
				background-position: center;
			}
	  	}

		.artist-info {
			margin-left: 120px;
			margin: 10px;
			max-height: 145px;
			overflow: hidden;
			color: white;

			div {
				font-size: 0.9em;
				color: darken(white, 30%);
			}
			.info-key {
				font-weight: bold;
				color: white;
			}

			div.artist-title {
				font-size: 1.2em;
				color: @yellow;
				font-weight: bold;
			}
		}
	}
}


/* ARTIST COVER VIEW */

.artistsResponsiveCoverView (@proportion: 1) {
	li.artist {
	  	// height: 178px * @proportion;
	  	height: 140px * @proportion;
	  	// width: 124px * @proportion;
	  	width: 140px * @proportion;
	  	margin: 5px * @proportion;
	  	img, .no-img {
	  		// width: 114px * @proportion;
	  		width: 130px * @proportion;
	  		// height: 168px * @proportion;
	  		height: 130px * @proportion;
		  	margin: 5px * @proportion;
		}
	}
}

.artists.coverView {
	.artistsResponsiveCoverView(1.5);
	margin: 0px;
	li.artist {
		float: left;
		list-style: none;
	  	position: relative;
	  	.with-border-color(@gray);
		border-style: solid;
	  	border-width: 1px;
	  	border-radius: 5px;
		.no-img {
			background-repeat: no-repeat;
			background-position: center;
		}
		.artist-caption {
			width: 100%;
			position: absolute;
			right: 0;
			bottom: 10px;
			left: 0;
			background: #333;
			background: rgba(0, 0, 0, 0.75);
			color: white;
			span {
				padding: 5px 10px;
				display: block;
				max-height: 35px;
				overflow: hidden;
			}
		}
	}
}

/* Large desktop */
@media (max-width: 1200px) { 
	.artists.coverView { .artistsResponsiveCoverView(1.5); }
}

/* 1024 desktop */
@media (max-width: 1024px) { 
	.artists.coverView { .artistsResponsiveCoverView(1.39); }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 
	.artists.coverView { .artistsResponsiveCoverView(1); }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.artists.coverView { .artistsResponsiveCoverView(1.25); }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.artists.coverView { .artistsResponsiveCoverView(1); }
}

/* Portrait phones */
@media (max-width: 320px) {
	.artists.coverView { .artistsResponsiveCoverView(0.69); }
}

/** ARTIST DETAILS */
.artist-detail {

	.visible-desktop {
		@imgContainerWidth: 270px;
		.m-header {
			.clearfix;
			h2 {
				float: left;
				color: @yellow;
			}
		}
		.m-data {
			color: darken(white, 30%);
			strong {
				color: white;
			}
			.clearfix;
			.m-img-container {
				.watermark-background;
				.clearfix;
				width: @imgContainerWidth;
				float: left;

				img {
					max-width: 250px;
					margin: 10px;
				}
				.no-img {
					width: 250px;
				}
			}
			.m-actions {
				.watermark-background;
				width: @imgContainerWidth;
				clear: left;
				float: left;
				margin-top: 10px;
				margin-right: 10px;
				div {
					margin: 10px;
					.btn-block {
						display: block;
					}
					a ~ a, a ~ div {
						margin-top: 10px;
					}
				}
			}
			.m-data-container {
				.watermark-background;
				margin-left: @imgContainerWidth + 10px;

				.m-rating {
					margin: 10px;
					position: absolute;
					right: 20px;
				}
				.m-more-actions {
					position: absolute;
					right: 80px;
					margin-top: 10px;
					margin-left: 10px;
				}

				& > ul {
					margin: 0px;
					padding: 10px;
					li {
						padding: 0px 0px;
						margin: 0px;
						list-style: none;
					}
				}
				.plot-container {
					margin-top: 10px;
					p.plot {
						text-align: justify;
					}
				}
			}
		}
	}

	.hidden-desktop {
		.m-data {
			.watermark-background;
			.clearfix;
			
			color: darken(white, 30%);
			strong {
				color: white;
			}

			.m-data-header {
				margin: 10px;
				.m-title {
					float: left;
					color: @yellow;
					font-size: 1.2em;
					font-weight: bold;
				}
			}
			.m-data-container {
				clear: left;
				margin: 10px;
				ul {
					margin: 0px;
					padding: 0px;
					li {
						padding: 0px 0px;
						margin: 0px;
						list-style: none;
					}
				}
			}
			.m-plot-container {
				margin: 10px;
				img {
					width: 100px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				p {
					text-align: justify;
				}
			}
		}
	}
}

#album-list {

	h3 {
		color: white;
	}

	ul.albums {

		margin-left: 0px;

		li.album {
			.watermark-background;
			list-style: none;
			padding: 20px 0;
		}

		li.album ~ li.album {
  			margin-top: 10px;
	  	}
	}

	#album-detail {
		div.albumContainer {
			width: 120px;

			.album-caption {
				margin-top: 10px;
				font-size: 0.9em;
				color: white;
				font-weight: bold;
			}
		}	
	}

	#song-list {
		float: left;
		margin-left: 10px;

		.hidden-desktop.album-caption {
			margin-bottom: 10px;
			font-size: 1.2em;
			color: white;
			font-weight: bold;
		}

		ul.songs li {
			list-style: none;
		}

		div.song-track {
			float: left;
			color: white;
			font-weight: bold;
			width: 2em;
		}

		span.song-title {
			margin-left: 5px;
			font-size: 1.1em;
			color: @yellow;
			font-weight: bold;
		}
	}
}

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* Portrait phones */
@media (max-width: 767px) or (max-width: 480px) or (max-width: 320px) {
	#album-list {

		div.row-fluid {
			margin-bottom: 10px;
		}

		ul.albums li.album div.container-fluid { 
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}