.movies-header {
	.with-border-color(@gray);
	padding: 5px 10px;
	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
}

.movies.coverView {
	margin: 0px;
	
	li {
		float: left;
		margin: 5px;
		list-style: none;
	}
}

.movie {
  	position: relative;

  	img {
	  	width: 150px;
	  	margin: 10px;
	}

	.movie-caption {
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 10px;
		left: 0;
		background: #333;
		background: rgba(0, 0, 0, 0.75);
		color: white;
		span {
			padding: 5px 10px;
			display: block;
		}
	}

	.with-border-color(@gray);
	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
  	height: 245px;
  	width: 170px;
}

/** DASHBOARD WIDGETS **/

.mediaWidget {
	span {
		width: 125px;
		margin: 0px 5px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
	}
	.mediaTitle {
		top: 0px;
	}
	.mediaSubtitle {
		font-size: 0.8em;
		position: initial;
	}
	.mediaThumbnail {
		height: 100px;
		width: 135px; // WARNING! If the medium class change, this value has to be updated
		vertical-align: middle;
		display: table-cell;

		img {
			max-width: 100px;
			max-height: 100px;
		}
	}
}