.room-device-group {
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.room-device-group .hit-title a#editDeviceGroupStyle {
  padding: 0px 5px;
}

.room-device-group .hit-title .nav > li > a:hover {
  background-color: transparent;
}

.room-devices {
}

.room-devices~.room-devices {
    margin-top: 10px;
  }

/* Device group TITLE */
.device-group-name {
  background-color: #222;
  border-bottom: 1px solid #555;
  color: #ddd;
  padding: 5px;
}
.device-group-name > ul {
  margin-top: 4px;
}

/* Device list container */
.device-list {
  /*padding: 5px;
  margin: 0px;*/
}

.device-list.overview { /* FIXME: Verify */
  /*position: relative;*/
}

/*ul.device-list li {
  padding: 0px;
  margin: 0px;
}*/

.device {
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/*ul.device-list li:last-child .device {
  border-bottom: none;
}*/

.device .slider {
  width: 80%;
  margin-bottom: 0px;
  height: 10px;
}

span.device-name {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.device-control {
  margin: 0px 0px 5px 10px;
}

.device-control .btn-mini {
  margin-bottom: 10px;
}

.device-control input {
  width: 50px;
}

.control-name {
  color: #ddd;
}

label.pull-right{
  text-align: right
}

.add-room.btn{
  margin-right: 5px;
}

.uneditable-input {
  cursor: default;
}

/**** MEDIA QUERIES ****/

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .room-device-group~.room-device-group {
    margin-top: 10px;
  }
}

/**** END MEDIA QUERIES ****/