/* Widget Container */
.hit-widget {
	width: 100%;
}

/* Widget Title Container */
.hit-widget .hit-title {
	text-align: left;
	padding: 5px 10px;
	background-color: #222;
	border-style: solid;
  	border-width: 1px;
  	border-color: #555 #222 #222 #555;
  	border-radius: 5px;
  	color: white;
}

/* Touchable (shortcut) Icon */
.hit-icon {
	float: left;
	width: 80px; 
	height: 80px;
	margin: 10px;

	background-color: #333;
	border-style: solid;
  	border-width: 1px;
  	border-color: #555 #222 #222 #555;
  	border-radius: 10px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	/* Text */
	color: white;
	text-align: center;
	font-size: 0.8em;
}