
.playlist-container {

	.background-black-overlay();
	.borderRadius(10px);
	padding: 10px;

	color: white;

	h3 {
		color: @yellow;
	}

	span[data-action] {
		margin-left: 5px;
		padding: 1px 4px;
		cursor: pointer;
	}
}

// Button to display the more options container
.song-item-options {
	padding: 5px 20px;
    margin: -5px -5px 0 0;

    .background-black-overlay();
    border-radius: 0 10px 10px 0;
}

// More options container
.more-opts-container {

	.clearfix();
	cursor: auto;
	text-align: center;
	padding: 2px;
	margin: 6px -5px -5px -5px;	
	.background-black-overlay();
    .borderRadius(10px);

    .player-button {
    	margin: 5px 0;
    	float: none;
    	display: inline-block;

    	&~.player-button {
    		margin-left: 20%;
    	}
    }
}