
.form-horizontal .control-group {
	margin-bottom: 5px;
}

#holder { border: 1px dashed #ccc; width: 200px; height: 150px; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }