/* It apply only to desktop devices */
@media (min-width: 979px) {
	#main-content {
		margin-top: 60px;
	}
}

.device-group {
	background-color: #666;
	color: white;
	height: 200px;
}

/* Right Option buttons */
ul.hit-nav-right {
	float: right;
	margin: 0px;
}
ul.hit-nav-right li {
	float: right;
	background-color: gray;
	margin-left: 5px;
	padding: 5px 9px;
	background-color: #333;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #666 #333 #333 #666;
	cursor: pointer;
}
ul.hit-nav-right li:hover {
	background-color: black;
	border-color: #333 #666 #666 #333;
}
ul.hit-nav-right li a {
	
}
ul.hit-nav-right li a:hover {
	background-color: inherit;
}