.movie {
  	min-height: 320px;
}

.movie img {
  	width: 200px;
}

/** DASHBOARD WIDGETS **/

.albumWidget {
	.albumLabel, .albumArtist {
		width: 100%;
		text-overflow: ellipsis;
		float: left;
	}
	.albumArtist {
		top: 0px;
		white-space: nowrap;
		margin: 0px 5px;
		width: 80px;
		text-overflow: ellipsis;
	}
	.albumLabel {
		font-size: 0.8em;
		top: 50px;
	}
}

.episodeWidget {
	.episodeLabel {
		top: 0px;
		white-space: nowrap;
		margin: 0px 5px;
		width: 80px;
		text-overflow: ellipsis;
	}
	.episodeTitle {
		font-size: 0.8em;
		position: initial;
	}
}
