/**
Tool: http://www.w3schools.com/tags/ref_colorpicker.asp
VERDE: #82c300
FUCXIA: #9e149e
*/

.dark-gray {
	background-color: #222;	
	border-color: #555 #111 #111 #555;
}
.dark-gray.selected { border-color: #111 #555 #555 #111; }
.dark-gray .active { color: #222 !important;}

.gray {
	background-color: #333;	
	border-color: #555 #222 #222 #555;
}
.gray.selected { border-color: #222 #555 #555 #222; }
.gray .active { color: #333 !important; }

.dark-blue {
	background-color: #124191;
	border-color: #0E3474 #4167A7 #4167A7 #0E3474;
}

.dark-blue.selected { border-color: #4167A7 #0E3474 #0E3474 #4167A7; }
.dark-blue .active { color: #124191 !important; }

.blue {
	background-color: #1AA1E1;
	border-color: #1581B4 #48B4E7 #48B4E7 #1581B4;
}
.blue.selected { border-color: #48B4E7 #1581B4 #1581B4 #48B4E7; }
.blue .active { color: #1AA1E1 !important; }

.dark-yellow {
	background-color: #CA930F;
	border-color: #A2760C #D5A93F #D5A93F #A2760C;
}

.dark-yellow.selected { border-color: #D5A93F #A2760C #A2760C #D5A93F; }
.dark-yellow .active { color: #CA930F !important; }

.yellow {
	background-color: #FF9522;
	border-color: #CC771B #FFAA4E #FFAA4E #CC771B;
}
.yellow.selected { border-color: #FFAA4E #CC771B #CC771B #FFAA4E; }
.yellow .active { color: #FF9522 !important; }

.violet {
	background-color: #A11253;
	border-color: #810E42 #B44175 #B44175 #810E42;
}

.violet.selected { border-color: #B44175 #810E42 #810E42 #B44175; }
.violet .active { color: #A11253 !important; }