.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.content-centered {
	text-align: center;
}

.centered-container {
  margin: 0 auto;
  display: table;
}

/* Background box overlay */
.background-black-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}
