/* Widget Container */
.hit-widget {
	width: 100%;
}

/* Widget Title Container */
.hit-widget .hit-title {
	text-align: left;
	padding: 5px 10px;
	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
  	color: white;
}

.hit-widget div.alert {
	margin: 10px;
}

.hit-icon-container {
	margin: 10px;
}

/* Override slider styles to positionate the controls */
.hit-icon-container .hit-slider-control { top: 18px; }
.hit-icon-container .hit-slider-control.left { left: 0px; }
.hit-icon-container .hit-slider-control.right { right: 0px; }

/* Touchable (shortcut) Icon */
.hit-icon {
	float: left;
	margin: 0px;
	border-style: solid;
  	border-width: 1px;
  	border-radius: 10px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	/* Text */
	color: white;
	text-align: center;
	font-size: 0.9em;
}
.hit-icon span {
	/* Position */
	position: relative;
	top: 70px;
}

.hit-icon~.hit-icon { margin-left: 10px; }

.hit-icon-wrapper { float: left; }
.hit-icon-wrapper~.hit-icon-wrapper { margin-left: 10px; }

/** Device Widgets */
.hit-icon.device-widget { position: relative; background-position: 50% 10%; }
.hit-icon.device-widget span { top: 0px; }
.hit-icon.device-widget .widget-opts {
	height: 35%;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.device-btn-group {
	list-style: none;
	margin: 0px;
	width: 90%;
	margin: 0 auto;
}
.device-btn-group .device-btn {
	float: left;
	width: 100%;
	text-align: center;
}
.device-btn-group.two .device-btn { width: 50%; }
.device-btn-group.three .device-btn { width: 33.33%; }
.device-btn-group.four .device-btn { width: 25%; }
.device-btn-group.five .device-btn { width: 20%; }

.device-btn-group .device-btn a {
	display: block;
	text-decoration: none;
	font-size: 0.9em;

	padding: 5px 0px;
	margin: 2px 2px;
	color: white;
	
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
}
.device-btn-group .device-btn a:hover {

}
.device-btn-group .device-btn a.active {
	font-weight: bold;
	background-color: white;
	color: #1AA1E1;
}

/** Switch styles */
/*.hit-icon.device-widget[data-widget-type="switch"] .widget-opts btn {
	margin-top: 10px;
}*/

/** Dimmer styles */
.dimmer-detail {
	position: absolute;
	right: 10px;
	font-size: 1.2em;
	top: 55px;
}

/** Thermostat styles */
.hit-icon.device-widget[data-widget-type="thermostat"] { background-position: -5% 10%; }

.thermostat-detail {
	margin-top: 30px;
	font-size: 2.5em;
	font-weight: bold;
}
.thermostat-detail span.measure { font-size: 0.5em; }

.thermostat-detail div span.setpoint {
	font-size: 0.6em; 
	font-weight: normal;
}

/** Shutter styles */
.hit-icon.device-widget[data-widget-type="shutter"] input[type="range"] {
	-webkit-appearance: slider-vertical;
	height: 70px;
	width: 10px;
	position: absolute;
	right: 15px;
	top: 20px;
}
.shutter-detail {
	font-size: 1.2em;
}

/** Camera styles */
.hit-widget.large .hit-icon.device-widget[data-widget-type="camera"] .widget-opts { 
	height: 23%; 
	background-repeat: no-repeat;
	background-position: center;
}
.hit-icon.device-widget[data-widget-type="camera"] img, video {
    width: 160px;
    height: 110px;
}
.hit-icon.device-widget[data-widget-type="camera"] span.widget-title {
	display: block;
}

/** Scenes and motion styles */
.hit-icon.device-widget[data-widget-type="scenes"], .hit-icon.device-widget[data-widget-type="motion"] { 
	background-position: center; 
}

/** RGB Widget */
.rgb-canvas {
	cursor: crosshair;
}
.hit-icon.device-widget[data-widget-type="rgb"] .widget-opts { 
	width: 44px;
	height: 72px;
	position: absolute;
	top: 58px;
	left: 68px;
}

/** 
 * WIDGET SIZES: 
 *	- small: 	90px X 90px;
 *	- medium: 	135px X 135px;
 *	- large: 	180px X 180px;
 * */
.hit-widget .hit-icon-container { height: 92px; } /* height: 90px border height: 2px */
.hit-widget .hit-icon { width: 90px; height: 90px; }

.hit-widget.small .hit-icon-container { height: 112px; } /* height: 110px border height: 2px */
.hit-widget.small .hit-icon { width: 110px; height: 110px; }

.hit-widget.medium .hit-icon-container { height: 137px; } /* height: 135px border height: 2px */
.hit-widget.medium .hit-icon { width: 135px; height: 135px; }
.hit-widget.medium .hit-icon.device-widget .widget-opts { height: 45%; }
.hit-widget.medium .hit-icon.device-widget .widget-opts input[type="range"] { width: 110px; }

.hit-widget.large .hit-icon-container { height: 182px; } /* height: 180px border height: 2px */
.hit-widget.large .hit-icon { width: 180px; height: 180px; }
.hit-widget.large .hit-icon.device-widget .widget-opts { height: 45%; }