.scroll-panel { 
	clear: both; 
}

.scroll-panel .viewport { 
	overflow: hidden; 
	position: relative; 
}

.scroll-panel .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
}

.scroll-panel .thumb .end,
.scroll-panel .thumb { 
	background-color: #003D5D; 
}

.scroll-panel .scrollbar { 
	position: relative; 
	float: right; 
	width: 12px; 
}

.scroll-panel .track { 
	background-color: #333; 
	height: 100%; 
	width:10px; 
	position: relative; 
	padding: 0 1px; 
}

.scroll-panel .thumb { 
	height: 15px; 
	width: 13px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
}

.scroll-panel .thumb .end { 
	overflow: hidden; 
	height: 5px; 
	width: 13px; 
	opacity: 0;
}

.scroll-panel .disable{ 
	display: none; 
}