.scrollable-x .viewport { height: 110px; /*overflow: hidden;*/ position: relative; }
.scrollable-x .overview { list-style: none; width: 200px; padding: 0; margin: 0; position: absolute; left: 0; top: 0;  }
.scrollable-x .scrollbar{ 
	background-color: #333;
	border-radius: 5px;
	position: relative; 
	margin: 0px 10px 10px 10px; 
	clear: both; 
	height: 8px;
}
.scrollable-x .track { }
.scrollable-x .thumb { 
	background-color: #999;
	border-radius: 5px;
	height: 8px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	left: 0;
}
.scrollable-x .thumb .end { }
.scrollable-x .disable { display: none; }