body {
  background: #000;
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .container-fluid {
    padding-left: 0px;
    margin-left: 0px;
  }
  body {
    padding-left: 0px;
  }
  .navbar {
    padding-left: 20px;
    margin-top: 20px;
  }
}

.modal {
  display: none;
}

.room {
  background-color: #222;
  color: #ddd;
  padding: 5px;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
}

.no-rooms {
  color: #ddd;
}

h3 {
  font-weight: normal
}

.room-device-group {
  height: 300px;
  margin: 5px 5px 0px 0px;
  padding: 0px;
  overflow: scroll;
  background-color: #333;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}

.room-devices {
}

.device-group-name {
  background-color: #222;
  border-bottom: 1px solid #555;
  color: #ddd;
  padding: 5px;
}

ul.device-list {
  list-style: none;
  padding: 5px;
  margin: 0px;
}

ul.device-list li {
  padding: 0px;
  margin: 0px;
}

.device {
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.device .slider {
  width: 80%;
  margin-bottom: 0px;
  height: 10px;
}

.device .device-name {
  font-size: 12pt;
  font-weight: bold;
  padding-bottom: 10px;
}

.device-name a, .device-name a:hover, .device-name a:active, .device-name a:visited {
  color: #008CD8
}

.device-control {
  margin: 0px 0px 0px 10px;
}

.device-control .btn-mini {
  margin-bottom: 10px;
}

.device-control input {
  width: 50px;
}

.control-name {
  color: #ddd;
}

label.pull-right{
  text-align: right
}

.add-room.btn{
  margin-right: 5px;
}

.uneditable-input {
  cursor: default;
}

.movie {
  min-height: 320px;
}

.movie img {
  width: 200px;
}

.modal .cover {
  margin: 0 20px 20px 0;
  width: 150px;
}

.modal#iframe {
  left: 10%;
  margin: -5% 0 0 -5%;
  top: 10%;
  width: 90%;
  height: 90%;
  -webkit-overflow-scrolling: touch;
}

.modal#iframe .modal-body {
  max-height: 100%;
  min-height: 100%;
  padding: 0;
}