body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.modal {
  display: none;
}

.room, .room-device {
  background-color: #eee;
}

.room-device .slider {
  width: 90%;
}

.room-device .device-name, .room-device .control-name {
  text-align: right
}

label.pull-right{
  text-align: right
}

.add-room.btn{
  margin-right: 5px;
}

ul.device-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.device-list li {
  padding: 0px;
  margin: 0px;
}
