script(id="players-layout-template", type="text/template")
  .container-fluid
    .row-fluid
      .span12
        h3 Players

    .row-fluid
      .span12
        ul.players.nav.nav-tabs

script(id="players-item-template", type="text/template")
  a(href='#') <%= title %>

script(id="player-template", type="text/template")
  <%= item.label %>
  br
  <%= currentTime %> / <%= totalTime %>
  br
  a.stop(href="#") Stop
  <% if (playing) { %>
  a.pause(href="#") Pause
  <% } else { %>
  a.pause(href="#") Play
  <% } %>

script(id="playlists-layout-template", type="text/template")
  .container-fluid
    .row-fluid
      .span12
        h3 Playlists

    .row-fluid
      .span12
        ul.playlists.nav.nav-tabs

script(id="playlists-item-template", type="text/template")
  a(href='#') <%= title %>

script(id="playlist-layout-template", type="text/template")
  .container-fluid
    .items.row-fluid
      .span12

script(id="playlist-item-template", type="text/template")
  <%= label %>
  a.play(href="#") Play
  a.remove(href="#") Remove

script(id="movie-layout-template", type="text/template")
  .container-fluid
    .row-fluid
      .span12
        h3 Movies
        a.prev(href="#") Prev
        a.next(href="#") Next

    .row-fluid
      .span12
        ul.movies.thumbnails

    a.prev(href="#") Prev
    a.next(href="#") Next

script(id="movie-item-template", type="text/template")
  | <img src="<%= thumbnail %>">
  br
  <%= label %>
  br
  a.add-to-playlist(href="#") Add To Playlist
  br
  a.play(href="#") Play

script(id="add-to-playlist-template", type="text/template")
  .modal-header
    h2 Add To Playlist
  .modal-body
      .span2
        label(for="type").pull-right Playlist
      .span3
        select(id="playlist")
          <% _.each(playlists, function(playlist) { %>
          option(value!="<%= playlist.playlistid %>") <%= playlist.title %>
          <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add