script(id="movie-layout-template", type="text/template")
  .container-fluid
    .row-fluid
      .span12
        h3 Movies

    .movies.row-fluid
      .span12

script(id="movie-item-template", type="text/template")
  a(href='#') <%= label %>