script(id="device-list-thermostat-item-template", type="text/template")
  .row-fluid.device
    .span12
      .device-name
        a(href="#") <%= name %> 
      .row-fluid.device-control
        .span4.control-name Mode
        .span8
          .mode.btn-group(data-toggle="buttons-radio")
            .btn.btn-mini.standby(data-mode="2") Standby
            .btn.btn-mini.comfort(data-mode="1") Comfort
            .btn.btn-mini.night(data-mode="3") Night
            .btn.btn-mini.frost(data-mode="4") Frost
      .row-fluid.device-control
        .span4.control-name Set
        .span8
          input.setpoint.span1(type="number", min="0", max="100", value!="<%= getAddress('read_temperature_set').value %>")
      .row-fluid.device-control
        .span4.control-name Room Temp
        .span8
          input.actual.uneditable-input.input-mini

script(id="device-add-thermostat-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        input(id="name", placeHolder="Living Room")
    .row
      .span3
        label(for="write_mode").pull-right Write Mode Address
      .span3
        input(id="write_mode", placeHolder="#/#/#")
    .row
      .span3
        label(for="read_mode").pull-right Read Mode Address
      .span3
        input(id="read_mode", placeHolder="#/#/#")
    .row
      .span3
        label(for="read_temperature_actual").pull-right Read Temp Address
      .span3
        input(id="read_temperature_actual", placeHolder="#/#/#")
    .row
      .span3
        label(for="read_temperature_set").pull-right Read Temp Setpoint Address
      .span3
        input(id="read_temperature_set", placeHolder="#/#/#")
    .row
      .span3
        label(for="write_temperature_set").pull-right Write Temp Setpont Address
      .span3
        input(id="write_temperature_set", placeHolder="#/#/#")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-thermostat-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span3
        label(for="write_mode").pull-right Write Mode Address
      .span3
        <%= getAddress('write_mode').address %>
    .row
      .span3
        label(for="read_mode").pull-right Read Mode Address
      .span3
        <%= getAddress('read_mode').address %>
    .row
      .span3
        label(for="read_temperature_actual").pull-right Read Temp Address
      .span3
        <%= getAddress('read_temperature_actual').address %>
    .row
      .span3
        label(for="read_temperature_set").pull-right Read Temp Setpoint Address
      .span3
        <%= getAddress('read_temperature_set').address %>
    .row
      .span3
        label(for="write_temperature_set").pull-right Write Temp Setpont Address
      .span3
        <%= getAddress('write_temperature_set').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
