script(id="device-list-camera-item-template", type="text/template")
  .hit-icon.device-widget(data-widget-type="camera", id!="device-camera-<%= id %>", data-model-id!="<%=id%>")
    span.widget-title.device-name <%= name %>
    <% if (cameraType === 'img') { %>
    img(src!="<%= url %>")
    <% } else if (cameraType === 'video') { %>
    video
      source(src!="<%= url %>")
    <% } %>
    .widget-opts

script(id="device-list-camera-optional-buttons-template", type="text/template")
  ul.device-btn-group.clearfix(class!="<%= (optBtnsClass) %>")
    <% _.each(optBtns, function(btn) { %>
    li.device-btn
      a(href="#", data-address!="<%=btn.address%>", data-cmd!="<%=btn.cmd%>") <%=btn.btnName%>
    <% }); %>

script(id="device-add-camera-template", type="text/template")
  .modal-header
    h2 <%= formTitle %>
  .modal-body
    form.form-horizontal
      .tabbable
        ul.nav.nav-tabs
          li.active
            a(href="#camera-form-tab1", data-toggle="tab") Camera Data
          li
            a(href="#camera-form-tab2", data-toggle="tab") Command 1
          li
            a(href="#camera-form-tab3", data-toggle="tab") Command 2
          li
            a(href="#camera-form-tab4", data-toggle="tab") Command 3
        .tab-content
          .tab-pane.active#camera-form-tab1
            .control-group
              label(for="name").control-label Name
              .controls
                input(id="name", type="text", placeHolder="Office camera", value!="<%= getValue('name') %>")
            .control-group
              label(for="isFavorite").control-label Favorite
              .controls
                <% if (isChecked('isFavorite')) { %>
                input(id="isFavorite", type="checkbox", checked="checked")
                <% } else { %>
                input(id="isFavorite", type="checkbox")
                <% } %>
            .control-group
              label(for="cameraType").control-label Type
              .controls
                select(id="cameraType")
                  <% if ('video' === getValue('cameraType')) { %>
                  option(value="video", selected="selected") Video
                  <% } else { %>
                  option(value="video") Video
                  <% } %>
                  <% if ('img' === getValue('cameraType')) { %>
                  option(value="img", selected="selected") Image
                  <% } else { %>
                  option(value="img") Image
                  <% } %>                  
            .control-group
              label(for="url").control-label Url
              .controls
                input(id="url", type="text", placeHolder="Camera source URL", value!="<%= getValue('url') %>")
            .control-group#refreshGroup
              label(for="refresh").control-label Refresh
              .controls
                input(id="refresh", type="number", placeHolder="Refresh Ms", value!="<%= getValue('refresh') %>")
            .control-group#autoPlayGroup
              label(for="autoPlay").control-label Auto Play
              .controls
                input(id="autoPlay", type="checkbox", value!="<%= getValue('autoPlay') %>")
          .tab-pane#camera-form-tab2
            .control-group
              label(for="cmd_opt1_btn_name").control-label Button Name
              .controls
                input(id="cmd_opt1_btn_name", type="text", placeHolder="UI Friendly Name", value!="<%= getValue('cmd_opt1_btn_name') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="The text of the button displayed in the UI.")
                  i.icon-question-sign
            .control-group
              label(for="cmd_opt1_cmd").control-label Command
              .controls
                input(id="cmd_opt1_cmd", type="text", placeHolder="Command", value!="<%= getValue('cmd_opt1_cmd') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="The command sent to the HIT server. Example: hitbot_send mobotix picture")
                  i.icon-question-sign
            .control-group
              label(for="cmd_opt1_read_address").control-label Trigger Address
              .controls
                input(id="cmd_opt1_read_addressLabel", data-control="autocomplete", data-hidden-id="cmd_opt1_read_address", type="text", placeHolder="#/#/#")
                input(id="cmd_opt1_read_address", type="hidden", value!="<%= getAddressValue('cmd_opt1_read_address') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="Optional. When this address receives the value '1', the command is sent to the HIT server.")
                  i.icon-question-sign
          .tab-pane#camera-form-tab3
            .control-group
              label(for="cmd_opt2_btn_name").control-label Button Name
              .controls
                input(id="cmd_opt2_btn_name", type="text", placeHolder="UI Friendly Name", value!="<%= getValue('cmd_opt2_btn_name') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="The text of the button displayed in the UI.")
                  i.icon-question-sign
            .control-group
              label(for="cmd_opt2_cmd").control-label Command
              .controls
                input(id="cmd_opt2_cmd", type="text", placeHolder="Command", value!="<% getValue('cmd_opt2_cmd') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="The command sent to the HIT server. Example: hitbot_send mobotix picture")
                  i.icon-question-sign
            .control-group
              label(for="cmd_opt2_read_address").control-label Trigger Address
              .controls
                input(id="cmd_opt2_read_addressLabel", data-control="autocomplete", data-hidden-id="cmd_opt2_read_address", type="text", placeHolder="#/#/#")
                input(id="cmd_opt2_read_address", type="hidden", value!="<%= getAddressValue('cmd_opt2_read_address') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="Optional. When this address receives the value '1', the command is sent to the HIT server.")
                  i.icon-question-sign
          .tab-pane#camera-form-tab4
            .control-group
              label(for="cmd_opt3_btn_name").control-label Button Name
              .controls
                input(id="cmd_opt3_btn_name", type="text", placeHolder="UI Friendly Name", value!="<%= getValue('cmd_opt3_btn_name') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="The text of the button displayed in the UI.")
                  i.icon-question-sign
            .control-group
              label(for="cmd_opt3_cmd").control-label Command
              .controls
                input(id="cmd_opt3_cmd", type="text", placeHolder="Command", value!="<%= getValue('cmd_opt3_cmd') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="The command sent to the HIT server. Example: hitbot_send mobotix picture")
                  i.icon-question-sign
            .control-group
              label(for="cmd_opt3_read_address").control-label Trigger Address
              .controls
                input(id="cmd_opt3_read_addressLabel", data-control="autocomplete", data-hidden-id="cmd_opt3_read_address", type="text", placeHolder="#/#/#")
                input(id="cmd_opt3_read_address", type="hidden", value!="<%= getAddressValue('cmd_opt3_read_address') %>")
                span.help-inline(rel="tooltip", data-placement="left", title="Optional. When this address receives the value '1', the command is sent to the HIT server.")
                  i.icon-question-sign
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary <%= primaryBtnText %>

script(id="device-view-camera-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span2
        label(for="isFavorite").pull-right Favorite
      .span3
        <%= isCheckedFriendly('isFavorite') %>
    .row
      .span2
        label(for="name").pull-right Type
      .span3
        <%= cameraType %>
    .row
      .span2
        label(for="url").pull-right Url
      .span3
        <%= url %>
    .row
      .span2
        label(for="refresh").pull-right Refresh
      .span3
        <%= refresh %>
  .modal-footer
    a(href="#").delete.btn.pull-left
      i.icon-trash 
      \ Delete
    a(href="#").edit.btn.pull-left
      i.icon-edit
      \ Edit
    a(href="#").cancel.btn.btn-primary Close
