script(id="device-list-dimmer-item-template", type="text/template")
  .span12
    .device-name
      a(href="#") <%= name %> 
    .row-fluid.device-control
      .span4.control-name Switch
      .span8
        .switch.btn-group(data-toggle="buttons-radio")
          .btn.btn-mini.on On
          .btn.btn-mini.off Off
    .row-fluid.device-control
      .span4.control-name Dimmer
      .span8
        input.slider.dimmer(type="range", min="0", max="255", width="50", value!="<%= getAddress('read_dimmer').value %>")

script(id="device-add-dimmer-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    .form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Ceiling Fan")
      .control-group
        label(for="read_switch").control-label Read Switch Address
        .controls
          input(id="read_switch", type="text", placeHolder="#/#/#")
      .control-group
          label(for="write_switch").control-label Write Switch Address
          .controls
            input(id="write_switch", type="text", placeHolder="#/#/#")
      .control-group
          label(for="read_dimmer").control-label Read Dimmer Address
          .controls
            input(id="read_dimmer", type="text", placeHolder="#/#/#")
      .control-group
          label(for="write_dimmer").control-label Write Dimmer Address
          .controls
            input(id="write_dimmer", type="text", placeHolder="#/#/#")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-dimmer-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span3
        label(for="read_address").pull-right Read Switch Address
      .span3
        <%= getAddress('read_switch').address %>
    .row
      .span3
        label(for="write_address").pull-right Write Switch Address
      .span3
        <%= getAddress('write_switch').address %>
    .row
      .span3
        label(for="read_address").pull-right Read Dimmer Value Address
      .span3
        <%= getAddress('read_dimmer').address %>
    .row
      .span3
        label(for="write_address").pull-right Write Dimmer Value Address
      .span3
        <%= getAddress('write_dimmer').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
