script(id="device-list-door-item-template", type="text/template")
  .hit-icon.device-widget(data-widget-type="door", data-hit-icon-type="devices.doorClose", data-model-id!="<%=id%>")
    span <%= name %>
    .widget-opts
      ul.device-btn-group.clearfix
        li.device-btn
          a.open(href="#") OPEN

script(id="device-add-door-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Front Door")
      .control-group
        label(for="read_door").control-label Read Address
        .controls
          input(id="read_door", type="text", placeHolder="#/#/#")
      .control-group
        label(for="open_value").control-label Open Value
        .controls
          input(id="open_value", type="text", placeHolder="1")
      .control-group
        label(for="close_value").control-label Close Value
        .controls
          input(id="close_value", type="text", placeHolder="0")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-door-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span2
        label(for="read_door").pull-right Read Address
      .span3
        <%= getAddress('read_door').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
