script(id="dashboard-floor", type="text/template")
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix
        .hit-title My Rooms
        <% _.each(rooms, function(room){ %>
        .hit-icon.room-item-list(data-item-id!="<%= room.id %>", style="background-image: url(img/floors/go-home-8.ico);")
          span <%= room.name %>
        <% }) %>