script(id="dashboard-floor", type="text/template")
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix
        .hit-title.blue My Rooms
        .hit-icon-container.hit-slider
          <% if(rooms.length == 0) { %>
          div.alert.alert-info
            span There are no rooms in this floor.
          <% } else { %>
          .hit-slider-inner
            <% _.each(rooms, function(room){ %>
            .hit-icon.blue.room-item-list(data-item-id!="<%= room.id %>", data-hit-icon-type!="<%= room.icon %>")
              span <%= room.name %>
            <% }) %>
          a.hit-slider-control.left(href="#", data-slide="prev") ‹
          a.hit-slider-control.right(href="#", data-slide="next") ›
          <% } %>
          

script(id="context-menu-floor-opts", type="text/template")
  li
    a.add-room(href="#") Add Room
  li
    a#floor-settings(href="#") Floor Settings
  li
    a#editStyle(href="#") Edit Styles

script(id="floor-add-template", type="text/template")
  .modal-header
    h2 Add A New Floor To <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label 
          strong Name
        .controls
          input(id="name", type="text", placeHolder="2nd floor")
      .control-group
        label(for="rooms").control-label
          strong Rooms
          br
          | (comma separated)
        .controls
          textarea(id="rooms", placeHolder="Room 1, Room 2, Room 3")
      .control-group
        label(for="icon").control-label 
          strong Icon
        .controls
          input(id="icon", type="text", placeHolder="ground-floor")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").save.btn.btn-primary Save

script(id="floor-edit-template", type="text/template")
  .modal-header
    h2 Edit Floor
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label 
          strong Name
        .controls
          input(id="name", type="text", placeHolder="2nd floor", value!="<%=name%>")
      .control-group
        label(for="icon").control-label 
          strong Icon
        .controls
          input(id="icon", type="text", placeHolder="ground-floor", value!="<%=icon%>")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").save.btn.btn-primary Save