script(id="dashboard-floor", type="text/template")
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix
        .hit-title.blue My Rooms
        .hit-icon-container.hit-slider
          <% if(rooms.length == 0) { %>
          div.alert.alert-info
            span There are no rooms in this floor.
          <% } else { %>
          .hit-slider-inner
            <% _.each(rooms, function(room){ %>
            .hit-icon.blue.room-item-list(data-item-id!="<%= room.id %>", style="background-image: url(img/floors/go-home-8.ico);")
              span <%= room.name %>
            <% }) %>
          a.hit-slider-control.left(href="#", data-slide="prev") ‹
          a.hit-slider-control.right(href="#", data-slide="next") ›
          <% } %>
          

script(id="context-menu-floor-opts", type="text/template")
  li
    a.add-room(href="#") Add Room
  li
    a(href="#") Floor Settings
  li
    a#editStyle(href="#") Edit Styles