script(id="add-home-template", type="text/template")
  .modal-header
    h2 Add New Home
  .modal-body
    .row
      .span2
        label(for="home-name").pull-right Name
      .span3
        input(id="home-name", placeHolder="Vacation")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="view-home-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="home-name").pull-right 
          strong Name
      .span3
        <%= name %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close

script(id="dashboard-home", type="text/template")
  .container-fluid.dashboard-home
      .row-fluid
        .span6.dashboard-container.clearfix
          .dashboard-container-title
            h3 Media Center
          .clearfix
            .dashboard-icon-container
              img(src="img/media/audio_off.png")
            .dashboard-icon-container
              img(src="img/media/homevideo_off.png")
            .dashboard-icon-container
              img(src="img/media/picture_off.png")
        .span6.dashboard-container.clearfix
          .dashboard-container-title
            h3 Floor List
          <% if ( floors.length > 0 ) { %>
          .clearfix
            <% _.each(floors, function(floor){ %>
            .floor-item-list(data-floor-id!="<%= floor.id %>") <%= floor.name %>
            <% }) %>
          <% } else { %>
          .clearfix.empty-collection
            | There are no floors in this home. Click 
            a.add-floor(href="#") here 
            | to add a new one.
          <% } %>