script(id="add-home-template", type="text/template")
  .modal-header
    h2 Add New Home
  .modal-body
    form.form-horizontal
      .control-group
        label(for="home-name").control-label Name
        .controls
          input(id="home-name", type="text", placeHolder="Vacation")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="edit-home-template", type="text/template")
  .modal-header
    h2 Edit Home
  .modal-body
     .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Home 
        li
          a(href="#tab2", data-toggle="tab") Active Sections
        li
          a(href="#tab3", data-toggle="tab") Widget Order
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            .control-group
              label(for="name").control-label Name
              .controls
                input(id="name", type="text", placeHolder="Vacation", value!="<%= name %>")
            .control-group
              label(for="startPage").control-label Start Page
              .controls
                select(id="startPage")
                  <% _.each(startPageList, function(startPageOption) { %>
                  <% if(startPageOption.id === startPage) { %>
                  option(value!="<%= startPageOption.id %>", selected="selected") <%= startPageOption.label %>
                  <% } else {%>
                  option(value!="<%= startPageOption.id %>") <%= startPageOption.label %>
                  <% } %>
                  <% }) %>
            .control-group
              label(for="startPageTimeout").control-label Start Page Timeout
              .controls
                input(id="startPageTimeout", type="number", value!="<%= startPageTimeout %>")
                span.help-inline(rel="tooltip", data-placement="left", title="Time waited to show the start page (in seconds). If the timeout is 0 the start page is only showed when the application starts.")
                  i.icon-question-sign
        .tab-pane#tab2
          form.form-horizontal#widget-visibility
            <% _.each(_.sortBy(widgets,'id'), function(widget) { %>
            .control-group
              label(for!="<%=widget.type%>").control-label <%=widget.name%>
              .controls
                <% if (widget.visible) {%>
                input(id!="<%=widget.type%>", data-model-id!="<%= widget.id %>", type="checkbox", checked="checked")
                <% } else { %>
                input(id!="<%=widget.type%>", data-model-id!="<%= widget.id %>", type="checkbox")
                <% } %>
            <% }) %>
        .tab-pane#tab3
          label Set the widget order with drag & drop
          ul.nav.nav-tabs.nav-stacked#widget-sortable
            <% _.each(widgets, function(widget) { %>
            li(data-model-id!="<%= widget.id %>")
              a(href="#") <%= widget.name %>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").save.btn.btn-primary Save

script(id="view-home-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="home-name").pull-right 
          strong Name
      .span3
        <%= name %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close

script(id="dashboard-home", type="text/template")
  .main-left-container.visible-desktop
    .tabbable
      ul.nav.nav-pills.hit-nav-proportional.three.desktop-left-container
        li.active
          a(href="#desktop-time-weather", data-toggle="tab") Time & Weather
        li
          a(href="#desktop-now-playing", data-toggle="tab") Now Playing
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#") 
            | More
            b.caret
          ul.dropdown-menu
      .tab-content
        #desktop-time-weather.tab-pane.active
          #digiclock-desktop.hit-clock-desktop
        #desktop-now-playing.tab-pane
          p Now playing
        #desktop-more.tab-pane
          p MORE...
  .main-right-container
    .container-fluid

script(id="my-house-template", type="text/template")
  .hit-widget.hit-widget-desktop.clearfix.scrollable-x#my-house
    //- .hit-desktop-title.visible-desktop(style="background-image: url(img/separators/my-house.jpg)")
    .hit-title.hidden-desktop My House
      ul.nav.pull-right
        li
          a.editWidgetStyle.pull-right(href="#")
            i.icon-cog.icon-white
    .hit-icon-container-desktop-options.visible-desktop
      ul
        li.editWidgetStyle
          i.icon-cog.icon-white
    .hit-icon-container.viewport
      <% if(floors.length == 0) { %>
      .overview
      div.alert.alert-info
        span There are no floors in this house.
      <% } else { %>
      .overview
        <% _.each(floors, function(floor){ %>
        .hit-icon.floor-item-list(data-item-id!="<%= floor.id %>", data-hit-icon-type!="<%= floor.icon %>")
          span <%= floor.name %>
        <% }) %>
        .hit-icon.custom-item-list(data-item-id="favorites", data-hit-icon-type="floors.favorite")
          span Favorites
      <% } %>
    .scrollbar
      .track
        .thumb
          .end

script(id="my-library-template", type="text/template")
  .hit-widget.hit-widget-desktop.clearfix.scrollable-x#my-library
    //- .hit-desktop-title.visible-desktop(style="background-image: url(img/separators/my-library.jpg)")
    .hit-title.hidden-desktop My Library
      ul.nav.pull-right
        li
          a.editWidgetStyle.pull-right(href="#")
            i.icon-cog.icon-white
    .hit-icon-container-desktop-options.visible-desktop
      ul
        li.editWidgetStyle
          i.icon-cog.icon-white
    .hit-icon-container.viewport
      .overview
        .hit-icon(data-hit-icon-href="#movies", data-hit-icon-type="media.movies")
          span Movies
        .hit-icon(data-hit-icon-href="#tvshows", data-hit-icon-type="media.series")
          span Series
        .hit-icon(data-hit-icon-href="#artists", data-hit-icon-type="media.music")
          span Music
        .hit-icon(data-hit-icon-href="#pictures", data-hit-icon-type="media.photos")
          span Photos
        .hit-icon(data-hit-icon-href="#files", data-hit-icon-type="media.files")
          span Files
    .scrollbar
      .track
        .thumb
          .end

script(id="time-wheater-template", type="text/template")
  .hit-widget.clearfix.scrollable-x.hidden-desktop#time-wheater
    .hit-title.hidden-desktop Time and Weather - <span id="jdigiclock-currentDay">Loading...</span>
      ul.nav.pull-right
        li
          a.pull-right.editWidgetStyle(href="#")
            i.icon-cog.icon-white
    .hit-icon-container.viewport
      .overview
        #digiclock.hit-clock
    .scrollbar
      .track
        .thumb
          .end

script(id="recently-added-template", type="text/template")
  .hit-widget.hit-widget-desktop.medium.clearfix.scrollable-x#recently-added
    //- .hit-desktop-title.visible-desktop(style="background-image: url(img/separators/recently-added.png)")
    .hit-title.hidden-desktop Recently Added <span class="loading">- Loading...</span>
      ul.nav.pull-right
        li
          a.pull-right.editWidgetStyle(href="#")
            i.icon-cog.icon-white
          a.pull-right.showNewMusic(href="#")
            i.icon-music.icon-white
          a.pull-right.showNewEpisodes(href="#")
            i.icon-film.icon-white
          a.pull-right.showNewMovies(href="#")
            i.icon-facetime-video.icon-white
    .hit-icon-container-desktop-options.visible-desktop
      ul
        li.showNewMovies
          i.icon-facetime-video.icon-white
        li.showNewEpisodes
          i.icon-film.icon-white
        li.showNewMusic
          i.icon-music.icon-white
        li.editWidgetStyle
          i.icon-cog.icon-white
    .hit-icon-container.viewport
      .overview
    .scrollbar
      .track
        .thumb
          .end

script(id="album-recently-added", type="text/template")
  <% if (!_.isUndefined(data.thumbnailid)) { %>
  .hit-icon.mediaWidget(data-hit-icon-href="#")
    span.mediaTitle <%=data.artist%>
    .mediaThumbnail
      img(src!="<%= 'api/images/' + data.thumbnailid %>")
    span.mediaSubtitle <%=data.label%>
  <% } else { %>
  .hit-icon.mediaWidget(data-hit-icon-href="#")
    span.mediaTitle <%=data.artist%>
    .mediaThumbnail
      img(src="img/svg/media/recently/albums.svg")
    span.mediaSubtitle <%=data.label%>
  <% } %>

script(id="movie-recently-added", type="text/template")
  .hit-icon.mediaWidget(data-hit-icon-href="#", data-media-action!="movies/details/<%= data.movieid %>")
    span.mediaTitle <%= data.label %>
    .mediaThumbnail
      <% if (!_.isUndefined(data.thumbnailid)) { %>
      img(src!="<%= 'api/images/' + data.thumbnailid %>")
      <% } else { %>
      img(src="img/svg/media/recently/movies.svg")
      <% } %>
    span.mediaSubtitle <%=data.genre%>  

script(id="episode-recently-added", type="text/template")  
  .hit-icon.mediaWidget(data-hit-icon-href="#")
    span.mediaTitle <%=data.showtitle + ' - ' + data.season%>
    .mediaThumbnail
      <% if (!_.isUndefined(data.thumbnailid)) { %>
      img(src!="<%= 'api/images/' + data.thumbnailid %>")
      <% } else { %>
      img(src="img/svg/media/recently/episodes.svg")
      <% } %>
    span.mediaSubtitle <%=data.label%>

script(id="switch-selected-home-template", type="text/template")
  .modal-header
    h2 Switch Home
  .modal-body
    select(id="selectedHome")
      <% _.each(homes, function(home) { %>
      option(value!="<%= home.id %>") <%= home.name %>
      <% }) %>
  .modal-footer
    a(href="#").addHome.btn.btn-primary.pull-left Add New Home
    a(href="#").cancel.btn Cancel
    a(href="#").switch.btn.btn-primary Switch

script(id="edit-widget-style-template", type="text/template")
  .modal-header
    h2 Edit <%= name %> Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Title
        li
          a(href="#tab2", data-toggle="tab") Body
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(titleFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
        .tab-pane#tab2
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="context-menu-home-opts", type="text/template")
  li
    a.add-floor(href="#") Add Floor
  li
    a#home-settings(href="#") Settings
  li
    a#editStyle(href="#") Edit Styles

script(id="edit-time-weather-settings-template", type="text/template")
  .modal-header
    h2 Edit <%= name %> Settings
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Timezone 
        li
          a(href="#tab2", data-toggle="tab") Title Style
        li
          a(href="#tab3", data-toggle="tab") Body Style
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            .control-group
              label(for="location").control-label Location
              .controls
                input(id="locationLabel", type="text", placeHolder="", value!="<%= timeWheaterConfiguration.locationLabel %>")
                input(id="location", type="hidden", value!="<%= timeWheaterConfiguration.location %>")
        .tab-pane#tab2
          form.form-horizontal
            <% _.each(titleFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
        .tab-pane#tab3
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save
