script(id="add-home-template", type="text/template")
  .modal-header
    h2 Add New Home
  .modal-body
    .row
      .span2
        label(for="home-name").pull-right Name
      .span3
        input(id="home-name", placeHolder="Vacation")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="view-home-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="home-name").pull-right 
          strong Name
      .span3
        <%= name %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close

script(id="dashboard-home", type="text/template")
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix
        .hit-title.blue My House
        .hit-icon-container.hit-slider
          <% if(floors.length == 0) { %>
          div.alert.alert-info
            span There are no floors in this house.
          <% } else { %>
          .hit-slider-inner
            <% _.each(floors, function(floor){ %>
            .hit-icon.blue.floor-item-list(data-item-id!="<%= floor.id %>", style="background-image: url(img/floors/go-home-8.ico);")
              span <%= floor.name %>
            <% }) %>
          a.hit-slider-control.left(href="#", data-slide="prev") ‹
          a.hit-slider-control.right(href="#", data-slide="next") ›
          <% } %>
    .span6.clearfix
      .hit-widget.clearfix
        .hit-title.yellow My Library
        .hit-icon-container.hit-slider
          .hit-slider-inner
            .hit-icon.yellow(data-hit-icon-href="#movies", style="background-image: url(img/media/folder-video.ico);")
              span Movies
            .hit-icon.yellow(data-hit-icon-href="#artists", style="background-image: url(img/media/folder-sound.ico);")
              span Music
            .hit-icon.yellow(data-hit-icon-href="#pictures", style="background-image: url(img/media/folder-image.ico);")
              span Photos
            .hit-icon.yellow(data-hit-icon-href="#files", style="background-image: url(img/media/folder-documents.ico);")
              span Files
          a.hit-slider-control.left(href="#", data-slide="prev") ‹
          a.hit-slider-control.right(href="#", data-slide="next") ›
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix
        .hit-title.violet Plugins
        .hit-icon-container.hit-slider
          .hit-slider-inner
            .hit-icon.violet(style="background-image: url(img/plugins/youtube.png);")
              span YouTube
            .hit-icon.violet(style="background-image: url(img/plugins/news-subscribe.ico);")
              span News
            .hit-icon.violet(style="background-image: url(img/plugins/games-2.ico);")
              span Games
          a.hit-slider-control.left(href="#", data-slide="prev") ‹
          a.hit-slider-control.right(href="#", data-slide="next") ›
    .span6.clearfix

script(id="switch-selected-home-template", type="text/template")
  .modal-header
    h2 Switch Home
  .modal-body
    select(id="selectedHome")
      <% _.each(homes, function(home) { %>
      option(value!="<%= home.id %>") <%= home.name %>
      <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").switch.btn.btn-primary Switch

script(id="context-menu-home-opts", type="text/template")
  li
    a.add-floor(href="#") Add Floor
  li
    a(href="#") Settings