script(id="add-home-template", type="text/template")
  .modal-header
    h2 Add New Home
  .modal-body
    form.form-horizontal
      .control-group
        label(for="home-name").control-label Name
        .controls
          input(id="home-name", type="text", placeHolder="Vacation")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="edit-home-template", type="text/template")
  .modal-header
    h2 Edit Home
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Vacation", value!="<%= name %>")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").save.btn.btn-primary Save

script(id="view-home-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="home-name").pull-right 
          strong Name
      .span3
        <%= name %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close

script(id="dashboard-home", type="text/template")
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix.scrollable-x#my-house
        .hit-title My House
        .hit-icon-container.viewport
          <% if(floors.length == 0) { %>
          .overview
          div.alert.alert-info
            span There are no floors in this house.
          <% } else { %>
          .overview
            <% _.each(floors, function(floor){ %>
            .hit-icon.floor-item-list(data-item-id!="<%= floor.id %>", data-hit-icon-type!="<%= floor.icon %>")
              span <%= floor.name %>
            <% }) %>
            .hit-icon.custom-item-list(data-item-id="favorites", data-hit-icon-type="floors.favorite")
              span Favorites
          <% } %>
        .scrollbar
          .track
            .thumb
              .end
    .span6.clearfix
      .hit-widget.clearfix.scrollable-x#my-library
        .hit-title My Library
        .hit-icon-container.viewport
          .overview
            .hit-icon(data-hit-icon-href="#movies", data-hit-icon-type="media.movies")
              span Movies
            .hit-icon(data-hit-icon-href="#artists", data-hit-icon-type="media.music")
              span Music
            .hit-icon(data-hit-icon-href="#pictures", data-hit-icon-type="media.photos")
              span Photos
            .hit-icon(data-hit-icon-href="#files", data-hit-icon-type="media.files")
              span Files
        .scrollbar
          .track
            .thumb
              .end
  .row-fluid
    .span6.clearfix
      .hit-widget.clearfix.scrollable-x#time-wheater
        .hit-title Time and Wheater - <span id="jdigiclock-currentDay">Loading...</span>
          ul.nav.pull-right
            li
              a#editTimeWeatherSettings.pull-right(href="#")
                i.icon-cog.icon-white
        .hit-icon-container.viewport
          .overview
            #digiclock.hit-clock
        .scrollbar
          .track
            .thumb
              .end
    .span6.clearfix

script(id="switch-selected-home-template", type="text/template")
  .modal-header
    h2 Switch Home
  .modal-body
    select(id="selectedHome")
      <% _.each(homes, function(home) { %>
      option(value!="<%= home.id %>") <%= home.name %>
      <% }) %>
  .modal-footer
    a(href="#").addHome.btn.btn-primary.pull-left Add New Home
    a(href="#").cancel.btn Cancel
    a(href="#").switch.btn.btn-primary Switch

script(id="context-menu-home-opts", type="text/template")
  li
    a.add-floor(href="#") Add Floor
  li
    a#home-settings(href="#") Settings
  li
    a#editStyle(href="#") Edit Styles

script(id="edit-time-weather-settings-template", type="text/template")
  .modal-header
    h2 Edit Time & Weather Settings
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Timezone 
        li
          a(href="#tab2", data-toggle="tab") Styles
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            .control-group
              label(for="location").control-label Location
              .controls
                input(id="locationLabel", type="text", placeHolder="", value!="<%= timeWheaterConfiguration.locationLabel %>")
                input(id="location", type="hidden", value!="<%= timeWheaterConfiguration.location %>")
        .tab-pane#tab2
          form.form-horizontal
            <% _.each(timeWheaterFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save
