script(id="device-list-motion-item-template", type="text/template")
  .hit-icon.device-widget(data-widget-type="motion", data-hit-icon-type="devices.motion", data-model-id!="<%=id%>")
    span.device-name <%= name %>

script(id="device-add-motion-template", type="text/template")
  .modal-header
    h2 <%= formTitle %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Motion Sensor", value!="<%= getValue('name') %>")
      .control-group
        label(for="isFavorite").control-label Favorite
        .controls
          <% if (isChecked('isFavorite')) { %>
          input(id="isFavorite", type="checkbox", checked="checked")
          <% } else { %>
          input(id="isFavorite", type="checkbox")
          <% } %>
      .control-group
        label(for="read_motion").control-label Read Address
        .controls
          input(id="read_motionLabel", data-control="autocomplete", data-hidden-id="read_motion", type="text", placeHolder="#/#/#")
          input(id="read_motion", type="hidden", value!="<%= getAddressValue('read_motion') %>")
      .control-group
        label(for="on_value").control-label On Value
        .controls
          input(id="on_value", type="text", placeHolder="1", value!="<%= getValue('on_value') %>")
      .control-group
        label(for="off_value").control-label Off Value
        .controls
          input(id="off_value", type="text", placeHolder="0", value!="<%= getValue('off_value') %>")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary <%= primaryBtnText %>

script(id="device-view-motion-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span2
        label(for="isFavorite").pull-right Favorite
      .span3
        <%= isCheckedFriendly('isFavorite') %>
    .row
      .span2
        label(for="read_motion").pull-right Read Address
      .span3
        <%= getAddress('read_motion').address %>
    .row
      .span2
        label(for="on_value").pull-right On Value
      .span3
        <%= on_value %>
    .row
      .span2
        label(for="off_value").pull-right Off Value
      .span3
        <%= off_value %>
  .modal-footer
    a(href="#").delete.btn.pull-left
      i.icon-trash 
      \ Delete
    a(href="#").edit.btn.pull-left
      i.icon-edit
      \ Edit
    a(href="#").cancel.btn.btn-primary Close
