script(id="home-list-template", type="text/template")
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | <%= name %>
    b.caret
  ul.dropdown-menu
    li.divider
    li.add-home
      a(href="#") New Home ...

script(id="home-item-template", type="text/template")
  a(href='#') <%= name %>

script(id="floor-item-template", type="text/template")
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | <%= name %>
    b.caret
  ul.dropdown-menu
    li.divider
    li.add-room
      a(href="#") New Room ...

script(id="floor-list-template", type="text/template")
  ul.nav.nav-pills.add-new
    li
      a(href="").add-floor New Floor ...

script(id="room-item-template", type="text/template")
    a(href='#') <%= name %>

script(id="edit-floor-style-template", type="text/template")
  .modal-header
    h2 Edit <%= type %> Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Body
        li
          a(href="#tab2", data-toggle="tab") My Rooms Title
        li
          a(href="#tab3", data-toggle="tab") My Rooms Body
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group
              label(for!="<%= field.id %>").control-label <%= field.name %>
              .controls
                input(id!="<%= field.id %>", type!="<%= field.type %>", placeHolder!="<%= field.name %>", value!="<%= field.value %>") 
            <% }) %>
            .control-group
              label(for="holder").control-label Background Preview
                .controls
                  #holder
        .tab-pane#tab2
          form.form-horizontal
            <% _.each(myRoomsTitleFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
        .tab-pane#tab3
          form.form-horizontal
            <% _.each(myRoomsFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
  .modal-footer
    a(href="#").pull-left.btn#clear-background Clear background
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="edit-room-style-template", type="text/template")
  .modal-header
    h2 Edit <%= type %> Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Body
        li
          a(href="#tab2", data-toggle="tab") Device Group Order
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group
              label(for!="<%= field.id %>").control-label <%= field.name %>
              .controls
                input(id!="<%= field.id %>", type!="<%= field.type %>", placeHolder!="<%= field.name %>", value!="<%= field.value %>") 
            <% }) %>
            .control-group
              label(for="holder").control-label Background Preview
                .controls
                  #holder
        .tab-pane#tab2
          label Set the device group order with drag & drop
          ul.nav.nav-tabs.nav-stacked#device-group-sortable
            <% _.each(deviceGroups, function(group) { %>
            li(data-model-id!="<%= group.id %>")
              a(href="#") <%= group.name %>
            <% }) %>
  .modal-footer
    a(href="#").pull-left.btn#clear-background Clear background
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="edit-home-style-template", type="text/template")
  .modal-header
    h2 Edit <%= type %> Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Home
        li
          a(href="#tab2", data-toggle="tab") Default Pattern
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group
              label(for!="<%= field.id %>").control-label <%= field.name %>
              .controls
                input(id!="<%= field.id %>", placeHolder!="<%= field.name %>", value!="<%= field.value %>", type!="<%= field.type %>") 
            <% }) %>
            .control-group
              label(for="holder").control-label Background Preview
                .controls
                  #holder
        .tab-pane#tab2
          form.form-horizontal
            <% _.each(bodyPatternFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
                <div class="controls">
                  <% if (field.type !== 'list') { %>
                  <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                  <% } else { %>
                  <select id="<%= field.id %>">
                    <% _.each(field.options, function(option) { %>
                    <% if (option.value === field.value) { %>
                    <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                    <% } else { %>
                    <option value="<%= option.value %>"> <%= option.label %> </option>
                    <% } %>
                    <% }) %> 
                  </select>
                <% } %>          
                </div>
            <% }) %>
            .control-group
              label(for="holder-tab2").control-label Background Preview
                .controls
                  #holder-tab2.holder
  .modal-footer
    a(href="#").pull-left.btn#clear-background Clear background
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="edit-favorite-style-template", type="text/template")
  .modal-header
    h2 Edit <%= type %> Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Style
        li
          a(href="#tab2", data-toggle="tab") Widget Order
        li
          a(href="#tab3", data-toggle="tab") Title
        li
          a(href="#tab4", data-toggle="tab") Body
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group
              label(for!="<%= field.id %>").control-label <%= field.name %>
              .controls
                input(id!="<%= field.id %>", placeHolder!="<%= field.name %>", value!="<%= field.value %>", type!="<%= field.type %>") 
            <% }) %>
            .control-group
              label(for="holder").control-label Background Preview
                .controls
                  #holder
        .tab-pane#tab2
          label Set the widget order with drag & drop
          ul.nav.nav-tabs.nav-stacked#widget-sortable
            <% _.each(widgets, function(widget) { %>
            li(data-model-id!="<%= widget.type %>")
              a(href="#") <%= widget.name %>
            <% }) %>
        .tab-pane#tab3
          form.form-horizontal
            <% _.each(favoritesTitleFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
        .tab-pane#tab4
          form.form-horizontal
            <% _.each(favoritesBodyFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
  .modal-footer
    a(href="#").pull-left.btn#clear-background Clear background
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save