script(id="home-list-template", type="text/template")
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | <%= name %>
    b.caret
  ul.dropdown-menu
    li.divider
    li.add-home
      a(href="#") New Home ...

script(id="home-item-template", type="text/template")
  a(href='#') <%= name %>

script(id="floor-item-template", type="text/template")
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | <%= name %>
    b.caret
  ul.dropdown-menu
    li.divider
    li.add-room
      a(href="#") New Room ...

script(id="floor-list-template", type="text/template")
  ul.nav.nav-pills.add-new
    li
      a(href="").add-floor New Floor ...

script(id="room-item-template", type="text/template")
    a(href='#') <%= name %>

script(id="edit-style-template", type="text/template")
  .modal-header
    h2 Edit <%= type %> Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab2", data-toggle="tab") Body
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group
              label(for!="<%= field.id %>").control-label <%= field.name %>
              .controls
                input(id!="<%= field.id %>", type="text", placeHolder!="<%= field.name %>", value!="<%= field.value %>") 
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save