script(id="room-layout-template", type="text/template")
  .room-devices.row-fluid

script(id="device-group-template", type="text/template")
  div(id!="<%= 'device-group-' + type %>", class!="hit-widget <%= widgetSize %> clearfix scrollable-x")
    .hit-title <%= name %>
      ul.nav.pull-right
        li
          a#editDeviceGroupStyle.pull-right(href="#")
            i.icon-plus.icon-white
    .hit-icon-container.viewport
      .overview.device-list
    .scrollbar
      .track
        .thumb
          .end

script(id="device-add-group-to-room-template", type="text/template")
  .modal-header
    h2 Add Devices To <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="type").control-label Device Type
        .controls
          select(id="type")
            <% _.each(deviceTypes, function(type){ %>
            option(value!="<%= type.type %>") <%= type.name %>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Next >>

script(id="edit-group-of-room-template", type="text/template")
  .modal-header
    h2 Edit Device Group Styles
  .modal-body
    .tabbable
      ul.nav.nav-tabs
        li.active
          a(href="#tab1", data-toggle="tab") Title
        li
          a(href="#tab2", data-toggle="tab") Body
        li
          a(href="#tab3", data-toggle="tab") Order
      .tab-content
        .tab-pane.active#tab1
          form.form-horizontal
            <% _.each(titleFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
        .tab-pane#tab2
          form.form-horizontal
            <% _.each(bodyFields, function(field){ %>
            .control-group.
              <label for="<%= field.id %>" class="control-label"> <%= field.name %> </label>
              <div class="controls">
                <% if (field.type !== 'class-list') { %>
                <input id="<%= field.id %>" type="text" placeHolder="<%= field.name %>" value="<%= field.value %>"/>
                <% } else { %>
                <select id="<%= field.id %>">
                  <% _.each(field.options, function(option) { %>
                  <% if (option.value === field.value) { %>
                  <option value="<%= option.value %>" selected="selected"> <%= option.label %> </option>
                  <% } else { %>
                  <option value="<%= option.value %>"> <%= option.label %> </option>
                  <% } %>
                  <% }) %> 
                </select>
              <% } %>
              </div>
            <% }) %>
        .tab-pane#tab3
          label Set the widgets order with drag & drop
          ul.nav.nav-tabs.nav-stacked#device-widgets-sortable
            <% _.each(devices, function(device) { %>
            li(data-model-id!="<%= device.id %>")
              a(href="#") <%= device.name %>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="edit-group-of-favorite-template", type="text/template")
  .modal-header
    h2 Edit Device Group Styles
  .modal-body
    label Set the widgets order with drag & drop
    ul.nav.nav-tabs.nav-stacked#favorite-widgets-sortable
      <% _.each(deviceGroup.devices, function(device) { %>
      li(data-model-id!="<%= device.id %>")
        a(href="#") <%= device.name %>
      <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="no-floors-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Floors Or Rooms To Display
      .span9
        | Please add a floor and rooms to this home

script(id="no-rooms-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Rooms To Display
      .span9
        | Please add a room to this floor

script(id="no-device-group-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      div.alert.alert-info.span9
        span
          b.show No Devices To Display
          | Please add a device to this room

script(id="favorite-no-device-group-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      div.alert.alert-info.span9
        span
          b.show No Favorite Devices To Display

script(id="room-more-options-template", type="text/template")
  a.dropdown-toggle.clearfix(href='#', data-toggle='dropdown')
    i.icon-plus.icon-white
  ul.dropdown-menu
    li
      a.add-device-group(href="#") Add device

script(id="context-menu-room-opts", type="text/template")
  li
    a.add-device(href="#") Add device
  li
    a#room-settings(href="#") Room Settings
  li
    a#editStyle(href="#") Edit Styles

script(id="context-menu-favorite-opts", type="text/template")
  li
    a#editStyle(href="#") Edit Styles

script(id="room-add-template", type="text/template")
  .modal-header
    h2 Add A New Room To <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label 
          strong Name
        .controls
          input(id="name", type="text", placeHolder="Kitchen")
      .control-group
        label(for="icon").control-label 
          strong Icon
        .controls
          select(id="icon")
            <% _.each(_.keys(icons), function(icon) { %>
            option(value!="<%= ('rooms.' + icon) %>") <%= icon %>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").save.btn.btn-primary Save

script(id="room-edit-template", type="text/template")
  .modal-header
    h2 Edit Room
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label 
          strong Name
        .controls
          input(id="name", type="text", placeHolder="Kitchen", value!="<%=name%>")
      .control-group
        label(for="icon").control-label 
          strong Icon
        .controls
          select(id="icon")
            <% _.each(_.keys(icons), function(icon) { %>
            option(value!="<%= ('rooms.' + icon) %>") <%= icon %>
            <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").save.btn.btn-primary Save