script(id="room-layout-template", type="text/template")
  .container-fluid
    .room-devices.row-fluid
      .span12

script(id="device-group-template", type="text/template")
  .device-group-name
    .pull-right
      button(class="btn btn-inverse").addDevice +
    h3 <%= name %>
  ul.device-list

script(id="device-add-group-to-room-template", type="text/template")
  .modal-header
    h2 Add Devices To <%= name %>
  .modal-body
      .span2
        label(for="type").pull-right Device Type
      .span3
        select(id="type")
          <% _.each(deviceTypes, function(type){ %>
          option(value!="<%= type.type %>") <%= type.name %>
          <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Next >>

script(id="no-floors-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Floors Or Rooms To Display
      .span9
        | Please add a floor and rooms to this home

script(id="no-rooms-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Rooms To Display
      .span9
        | Please add a room to this floor

script(id="no-device-group-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Devices To Display
      .span9
        | Please add a device to this room

script(id="room-more-options-template", type="text/template")
  a.dropdown-toggle.clearfix(href='#', data-toggle='dropdown')
    i.icon-plus.icon-white
  ul.dropdown-menu
    li
      a.add-device-group(href="#") Add device