script(id="room-layout-template", type="text/template")
  .container-fluid
    .room-devices.row-fluid

script(id="device-group-template", type="text/template")
  .device-group-name
    ul.nav.hit-nav-right
      li.addDevice
        a.hit-btn(href="#")
          i.icon-plus.icon-white
      li.editDeviceGroup
        a.hit-btn(href="#")
          i.icon-edit.icon-white
    h4 <%= name %>
  .scroll-panel
    .scrollbar
      .track
        .thumb
          .end
    .viewport
      .device-list.overview

script(id="device-add-group-to-room-template", type="text/template")
  .modal-header
    h2 Add Devices To <%= name %>
  .modal-body
      .span2
        label(for="type").pull-right Device Type
      .span3
        select(id="type")
          <% _.each(deviceTypes, function(type){ %>
          option(value!="<%= type.type %>") <%= type.name %>
          <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Next >>

script(id="edit-group-of-room-template", type="text/template")
  .modal-header
    h2 Edit Device Group
  .modal-body
      h3 Title Style
      <% _.each(titleFields, function(field){ %>
      .span2
        label(for!="<%= field.id %>").pull-right <%= field.name %>
      .span3
        input(id!="<%= field.id %>", placeHolder!="<%= field.name %>", value!="<%= field.value %>") 
      <% }) %>
      h3 Body Style
      <% _.each(bodyFields, function(field){ %>
      .span2
        label(for!="<%= field.id %>").pull-right <%= field.name %>
      .span3
        input(id!="<%= field.id %>", placeHolder!="<%= field.name %>", value!="<%= field.value %>")
      <% }) %>
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").edit.btn.btn-primary Save

script(id="no-floors-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Floors Or Rooms To Display
      .span9
        | Please add a floor and rooms to this home

script(id="no-rooms-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Rooms To Display
      .span9
        | Please add a room to this floor

script(id="no-device-group-template", type="text/template")
  .no-rooms.container-fluid
    .row-fluid
      .span9
        h2 No Devices To Display
      .span9
        | Please add a device to this room

script(id="room-more-options-template", type="text/template")
  a.dropdown-toggle.clearfix(href='#', data-toggle='dropdown')
    i.icon-plus.icon-white
  ul.dropdown-menu
    li
      a.add-device-group(href="#") Add device

script(id="context-menu-room-opts", type="text/template")
  li
    a.add-device(href="#") Add device
  li
    a(href="#") Room Settings