script(id="device-list-shutter-item-template", type="text/template")
  .hit-icon.device-widget(data-widget-type="shutter", data-hit-icon-type="devices.shutterOpen0")
    span <%= name %>
    .slider-vertical
    .widget-opts
      .shutter-detail 0% 
      ul.device-btn-group.three.clearfix
        li.device-btn
          a.blue(href="#", data-value="up")
            i.icon-chevron-up.icon-white
        li.device-btn
          a.blue(href="#", data-value="stop")
            i.icon-stop.icon-white
        li.device-btn
          a.blue(href="#", data-value="down")
            i.icon-chevron-down.icon-white

script(id="device-add-shutter-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Fireplace")
      .control-group
        label(for="read_position").control-label Read Position Address
        .controls
          input(id="read_position", type="text", placeHolder="#/#/#")
      .control-group
        label(for="write_stop").control-label Write Stop Address
        .controls
          input(id="write_stop", type="text", placeHolder="#/#/#")
      .control-group
        label(for="write_switch").control-label Write Switch Address
        .controls
          input(id="write_switch", type="text", placeHolder="#/#/#")
      .control-group
        label(for="write_position").control-label Write Position Address
        .controls
          input(id="write_position", type="text", placeHolder="#/#/#")
      .control-group
        label(for="max_value").control-label Max Value
        .controls
          input(id="max_value", type="text", placeHolder="100")
      .control-group
        label(for="min_value").control-label Min Value
        .controls
          input(id="min_value", type="text", placeHolder="0")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-shutter-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span3
        label(for="read_position").pull-right Read Position Address
      .span3
        <%= getAddress('read_position').address %>
    .row
      .span3
        label(for="write_stop").pull-right Write Stop Address
      .span3
        <%= getAddress('write_stop').address %>
    .row
      .span3
        label(for="write_switch").pull-right Write Switch Address
      .span3
        <%= getAddress('write_switch').address %>
    .row
      .span3
        label(for="write_position").pull-right Write Position Address
      .span3
        <%= getAddress('write_position').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
