script(id="device-list-switch-item-template", type="text/template")
  .span12
    .device-name
      a(href="#") <%= name %> 
    .row-fluid.device-control
      .span4.control-name Switch
      .span8
        .btn.btn-large
          i.icon-off.icon-white

script(id="device-add-switch-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Office Lamp")
      .control-group
        label(for="read_switch").control-label Read Address
        .controls
          input(id="read_switch", type="text", placeHolder="#/#/#")
      .control-group
        label(for="write_switch").control-label Write Address
        .controls
          input(id="write_switch", type="text", placeHolder="#/#/#")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-switch-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span2
        label(for="read_address").pull-right Read Address
      .span3
        <%= getAddress('read_switch').address %>
    .row
      .span2
        label(for="write_address").pull-right Write Address
      .span3
        <%= getAddress('write_switch').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
