script(id="device-list-thermostat-item-template", type="text/template")
  .hit-icon.device-widget.blue(data-widget-type="thermostat", data-hit-icon-type="devices.thermostatWidget")
    span <%= name %>
