script(id="device-list-thermostat-item-template", type="text/template")
  .span12
    .device-name
      a(href="#") <%= name %> 
    .row-fluid.device-control
      .span4.control-name Mode
      .span8
        .btn-group
          button.btn#label-button Standby
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.caret
          ul.dropdown-menu
            li
              a(data-target="#", data-mode="2") Standby
            li
              a(data-target="#", data-mode="1") Comfort
            li
              a(data-target="#", data-mode="3") Night
            li
              a(data-target="#", data-mode="4") Frost
    .row-fluid.device-control
      .span4.control-name Set
      .span8
        input.setpoint(type="number", min="-100", max="100", step="0.1", value!="<%= getAddress('read_temperature_set').value %>")
    .row-fluid.device-control
      .span4.control-name Room Temp
      .span8
        input.actual.uneditable-input.input-mini(disabled="disabled")

script(id="device-add-thermostat-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        input(id="name", placeHolder="Living Room")
    .row
      .span3
        label(for="write_mode").pull-right Write Mode Address
      .span3
        input(id="write_mode", placeHolder="#/#/#")
    .row
      .span3
        label(for="read_mode").pull-right Read Mode Address
      .span3
        input(id="read_mode", placeHolder="#/#/#")
    .row
      .span3
        label(for="read_temperature_actual").pull-right Read Temp Address
      .span3
        input(id="read_temperature_actual", placeHolder="#/#/#")
    .row
      .span3
        label(for="read_temperature_set").pull-right Read Temp Setpoint Address
      .span3
        input(id="read_temperature_set", placeHolder="#/#/#")
    .row
      .span3
        label(for="write_temperature_set").pull-right Write Temp Setpont Address
      .span3
        input(id="write_temperature_set", placeHolder="#/#/#")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-thermostat-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span3
        label(for="write_mode").pull-right Write Mode Address
      .span3
        <%= getAddress('write_mode').address %>
    .row
      .span3
        label(for="read_mode").pull-right Read Mode Address
      .span3
        <%= getAddress('read_mode').address %>
    .row
      .span3
        label(for="read_temperature_actual").pull-right Read Temp Address
      .span3
        <%= getAddress('read_temperature_actual').address %>
    .row
      .span3
        label(for="read_temperature_set").pull-right Read Temp Setpoint Address
      .span3
        <%= getAddress('read_temperature_set').address %>
    .row
      .span3
        label(for="write_temperature_set").pull-right Write Temp Setpont Address
      .span3
        <%= getAddress('write_temperature_set').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
