script(id="device-list-thermostat-item-template", type="text/template")
  span <%= name %>

script(id="device-add-thermostat-template", type="text/template")
  .modal-header
    h2 Add A New <%= name %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Living Room")
      .control-group
        label(for="write_mode").control-label Write Mode Address
        .controls
          input(id="write_mode", type="text", placeHolder="#/#/#")
      .control-group
        label(for="read_mode").control-label Read Mode Address
        .controls
          input(id="read_mode", type="text", placeHolder="#/#/#")
      .control-group
        label(for="read_temperature_actual").control-label Read Temp Address
        .controls
          input(id="read_temperature_actual", type="text", placeHolder="#/#/#")
      .control-group
        label(for="read_temperature_set").control-label Read Temp Setpoint Address
        .controls
          input(id="read_temperature_set", type="text", placeHolder="#/#/#")
      .control-group
        label(for="write_temperature_set").control-label Write Temp Setpont Address
        .controls
          input(id="write_temperature_set", type="text", placeHolder="#/#/#")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary Add

script(id="device-view-thermostat-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span3
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span3
        label(for="write_mode").pull-right Write Mode Address
      .span3
        <%= getAddress('write_mode').address %>
    .row
      .span3
        label(for="read_mode").pull-right Read Mode Address
      .span3
        <%= getAddress('read_mode').address %>
    .row
      .span3
        label(for="read_temperature_actual").pull-right Read Temp Address
      .span3
        <%= getAddress('read_temperature_actual').address %>
    .row
      .span3
        label(for="read_temperature_set").pull-right Read Temp Setpoint Address
      .span3
        <%= getAddress('read_temperature_set').address %>
    .row
      .span3
        label(for="write_temperature_set").pull-right Write Temp Setpont Address
      .span3
        <%= getAddress('write_temperature_set').address %>
  .modal-footer
    a(href="#").delete.btn.pull-left Delete
    a(href="#").cancel.btn.btn-primary Close
