script(id="device-list-window-item-template", type="text/template")
  .hit-icon.device-widget(data-widget-type="window", data-hit-icon-type="devices.windowClose", data-model-id!="<%=id%>")
    span.device-name <%= name %>

script(id="device-add-window-template", type="text/template")
  .modal-header
    h2 <%= formTitle %>
  .modal-body
    form.form-horizontal
      .control-group
        label(for="name").control-label Name
        .controls
          input(id="name", type="text", placeHolder="Bathroom Window", value!="<%= getValue('name') %>")
      .control-group
        label(for="isFavorite").control-label Favorite
        .controls
          <% if (isChecked('isFavorite')) { %>
          input(id="isFavorite", type="checkbox", checked="checked")
          <% } else { %>
          input(id="isFavorite", type="checkbox")
          <% } %>
      .control-group
        label(for="read_window").control-label Read Address
        .controls
          input(id="read_window", type="text", placeHolder="#/#/#", value!="<%= getAddressValue('read_window') %>")
      .control-group
        label(for="open_value").control-label Open Value
        .controls
          input(id="open_value", type="text", placeHolder="1", value!="<%= getValue('open_value') %>")
      .control-group
        label(for="close_value").control-label Close Value
        .controls
          input(id="close_value", type="text", placeHolder="0", value!="<%= getValue('close_value') %>")
  .modal-footer
    a(href="#").cancel.btn Cancel
    a(href="#").add.btn.btn-primary <%= primaryBtnText %>

script(id="device-view-window-template", type="text/template")
  .modal-header
    h2 <%= name %>
  .modal-body
    .row
      .span2
        label(for="name").pull-right Name
      .span3
        <%= name %>
    .row
      .span2
        label(for="isFavorite").pull-right Favorite
      .span3
        <%= isCheckedFriendly('isFavorite') %>
    .row
      .span2
        label(for="read_window").pull-right Read Address
      .span3
        <%= getAddress('read_window').address %>
    .row
      .span2
        label(for="open_value").pull-right Open Value
      .span3
        <%= open_value %>
    .row
      .span2
        label(for="close_value").pull-right Close Value
      .span3
        <%= close_value %>
  .modal-footer
    a(href="#").delete.btn.pull-left
      i.icon-trash 
      \ Delete
    a(href="#").edit.btn.pull-left
      i.icon-edit
      \ Edit
    a(href="#").cancel.btn.btn-primary Close
