<div class="modal-header">
    <a class="close" href="#">x</a>
    <h2>Database Settings</h2>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="control-group">
            <label for="ip" class="control-label">IP</label>
            <div class="controls">
                <input id="ip" type="text" value="{{ip}}"/>
            </div>
        </div>
        <div class="control-group">
            <label for="port" class="control-label">Port</label>
            <div class="controls">
                <input id="port" type="number" value="{{port}}">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <a href="#" data-action="save" class="btn btn-primary">Save</a>
    <a href="#" data-action="cancel" class="btn">Cancel</a>
</div>