<div class="modal-header">
    <a class="close" href="#">x</a>
    <h2>Databse Settings</h2>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="control-group">
            <label for="ip" class="control-label">IP</label>
            <div class="controls">
                <input id="ip" type="text" />
            </div>
        </div>
        <div class="control-group">
            <label for="port" class="control-label">Port</label>
            <div class="controls">
                <input id="port" type="number">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <a href="#" class="btn btn-primary save">Save</a>
    <a href="#" class="btn cancel">Cancel</a>
</div>