<div class="modal-header">
    <a class="close" href="#">x</a>
    <h2>Sort Settings</h2>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="control-group">
            <label for="movies_order" class="control-label">Movies - Ascending</label>
            <div class="controls">
            {{#if sort.movies_order}}
                <input id="movies_order" type="checkbox" checked="checked" />
            {{else}}
                <input id="movies_order" type="checkbox" />
            {{/if}}
            </div>
        </div>
        <div class="control-group">
            <label for="tvshows_order" class="control-label">TV Series - Ascending</label>
            <div class="controls">
            {{#if sort.tvshows_order}}
                <input id="tvshows_order" type="checkbox" checked="checked" />
            {{else}}
                <input id="tvshows_order" type="checkbox" />
            {{/if}}
            </div>
        </div>
        <div class="control-group">
            <label for="music_order" class="control-label">Music - Ascending</label>
            <div class="controls">
            {{#if sort.music_order}}
                <input id="music_order" type="checkbox" checked="checked" />
            {{else}}
                <input id="music_order" type="checkbox" />
            {{/if}}
            </div>
        </div>
        <div class="control-group">
            <label for="pictures_order" class="control-label">Pictures - Ascending</label>
            <div class="controls">
            {{#if sort.pictures_order}}
                <input id="pictures_order" type="checkbox" checked="checked" />
            {{else}}
                <input id="pictures_order" type="checkbox" />
            {{/if}}
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <a href="#" data-action="save" class="btn btn-primary">Save</a>
    <a href="#" data-action="cancel" class="btn">Cancel</a>
</div>