
<li class="playlists-general-options pull-right">
	
	<span class="player-button" data-action="edit-order">
		<i class="icon-pencil icon-white"></i>
	</span>

	<span class="player-button" data-action="edit-order-ok">
		<i class="icon-remove-sign icon-white"></i>
	</span>

	<span class="player-button" data-action="clear">
		<i class="icon-trash icon-white"></i>
	</span>

</li>