
<div class="more-opts-container">

	<span class="player-button" data-action="play">
		<i class="icon-play icon-white"></i>
	</span>

	<span class="player-button" data-action="remove">
		<i class="icon-trash icon-white"></i>
	</span>

</div>
