
{{ label }}

<span class="pull-right" data-action="play">
	<i class="icon-play icon-white"></i>
	<span class="hidden-phone"> Play</span>
</span>

<span class="pull-right" data-action="remove">
	<i class="icon-trash icon-white"></i>
	<span class="hidden-phone"> Remove</span>
</span>