<div class="row-fluid">
    <div class="span12 playlist-list-container">
        <a href="#" data-action="clear">Clear</a>
        <ul class="items hit-list"></ul>
    </div>

    <div class="no-playlist-container row-fluid">
    	<ul class="hit-list">
    		<li>Empty Playlist</li>
    	</ul>
    </div>
</div>