<div class="modal-header">
    <h2>Add to Playlist</h2>
</div>

<div class="modal-body">
    <div class="span2">
        <label class="pull-right" for="playlist">Playlist</label>
    </div>
    <div class="span3">
        <select id="playlist">
            {{#each playlists}}
                <option value="{{ playlistid }}">{{ title }}</option>
            {{/each}}
        </select>
    </div>
</div>

<div class="modal-footer">
    <a class="cancel btn" href="#">Cancel</a>
    <a class="add btn btn-primary" href="#">Add</a>
</div>