<div class="hit-media-music-separator">
	<div class="centered-container">
		<div class="hit-icon blue" href="#media-control/remote" data-mode="artists" data-touchable="black">
			<span>Remote </span><span class="hidden-phone">Control</span>
			<img data-svg="media.mediaControl" src="" />
		</div>
		<div class="hit-icon blue" href="#media-control/playlists" data-mode="albums" data-touchable="black">
			<span>Playlists</span>
			<img data-svg="media.albums" src="" />
		</div>
		<div class="hit-icon blue" href="#media-control/players" data-mode="songs" data-touchable="black">
			<span>Players</span>
			<img data-svg="media.songs" src="" />
		</div>
	</div>
</div>