!!! 5
html(lang='en')
  head

    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title HOME in touch

    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    include templates/navbar

    include templates/home

    include templates/room

    include templates/switch-device

    include templates/dimmer-device

    include templates/thermostat-device

    include templates/shutter-device

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') HOME in touch
          .nav-collapse
            .nav-collapse
              ul.nav
                li
                  a(href="#home") Home
              ul.nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown")
                    | Media
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="#players") Players
                    li
                      a(href="#playlists") Playlists
                    li
                      a(href="#movies") Movies
                    li
                      a(href="#artists") Artists
                    li
                      a(href="#albums") Albums
                    li
                      a(href="#songs") Songs
              ul.nav
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown")
                    | Settings
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="#import") Import
            ul#dropdown.nav.pull-right
            .divider-vertical.pull-right

    #subnav

    #main-content!= body

    script(src='/application.js')
    script
      $(function() {
        var app = require('app');
        app.start({
          homes: !{JSON.stringify(data.homes)},
          deviceTypes: !{JSON.stringify(data.deviceTypes)},
          players: !{JSON.stringify(players)}
        });
      });

    #modal.modal
    #iframe.modal
