!!! 5
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    title HOME in touch

    // Favicon
    link(rel='shortcut icon', href='img/favicon.ico')
    
    // Home screen icons (iOS)
    link(href='img/ios/apple-touch-icon-57x57.png', sizes='57x57', rel='apple-touch-icon')
    link(href='img/ios/apple-touch-icon-72x72.png', sizes='72x72', rel='apple-touch-icon')
    link(href='img/ios/apple-touch-icon-114x114.png', sizes='114x114', rel='apple-touch-icon')
    link(href='img/ios/apple-touch-icon-144x144.png', sizes='144x144', rel='apple-touch-icon')

    // Startup image (iOS)
    link(href='img/ios/apple-touch-startup-image-768x1004.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
    link(href='img/ios/apple-touch-startup-image-748x1024.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
    link(href='img/ios/apple-touch-startup-image-1536x2008.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='img/ios/apple-touch-startup-image-320x460.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
    link(href='img/ios/apple-touch-startup-image-640x920.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='img/ios/apple-touch-startup-image-640x1096.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    
    // Libraries
    link(href='/css/bootstrap.2.0.4.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.2.0.4.css', rel='stylesheet')
    link(href='/css/scrollbar.css', rel='stylesheet')
    link(href='/css/jquery-ui-1.8.17.custom.css', rel='stylesheet')
    link(href='/css/jquery.jdigiclock.css', rel='stylesheet')
    // link(href='/css/video-js.min.css', rel='stylesheet')

    if data.compileLess
      // Compiled LESS
      link(href='/css/hit-compiled.css', rel='stylesheet')
    else
      // Custom css & lesscss
      link(href='/css/hit.less', rel='stylesheet/less')

    link(href='/css/hit-general.css', rel='stylesheet')
    link(href='/css/hit-forms.css', rel='stylesheet')
    link(href='/css/hit-devices.css', rel='stylesheet')
    link(href='/css/hit-slider.css', rel='stylesheet')
    link(href='/css/hit-jqueryui.css', rel='stylesheet')

    //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    include templates/navbar

    include templates/home

    include templates/floor

    include templates/room

    include templates/switch-device

    include templates/dimmer-device

    include templates/thermostat-device

    include templates/shutter-device

    include templates/door-device

    include templates/window-device

    include templates/socket-device
    
    include templates/camera-device

    include templates/scenes-device

    include templates/motion-device

    include templates/rgb-device

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container

          // Phones and Tables Top Title 
          .nav-title-container.hidden-desktop
            .nav-title#home-touch-title

          .navbar-top

            // Desktop Top Navigation 
            ul#desktop-breadcrumb-nav.nav.visible-desktop
              li
                img.hit-refresh.hit-logo(src="img/svg/hit-white.svg")
              li.divider-vertical
              li.hit-home
                a(href="#")
                  span
              li.hit-floor
                a(href="#")
                  span
              li.hit-room
                a(href="#")
                  span
              li.hit-inner-room
                a(href="#")
                  span
            ul.nav.pull-right.visible-desktop
              li.dropdown#desktop-top-config
                a.pull-right(href="#", data-toggle="dropdown")
                  i.icon-cog.icon-white
                  span &nbsp;Settings
                ul.dropdown-menu
              li.dropdown#desktop-top-opts
                a.pull-right(href="#", data-toggle="dropdown")
                  i.icon-plus.icon-white
                  span &nbsp;Options
                ul.dropdown-menu
              li.divider-vertical
              li
                a.pull-right#desktop-top-switch(href="#")
                  i.icon-refresh.icon-white
                  span &nbsp;Switch Home

            // Phones and Tables Top Navigation 
            ul.nav.hidden-desktop
              li#touch-top-nav
                a(href="#")
                  i.icon-chevron-left.icon-white
                  span
            ul.nav.pull-right.hidden-desktop
              li.dropdown#touch-top-opts
                a.pull-right(href="#", data-toggle="dropdown")
                  i.icon-plus.icon-white
                ul.dropdown-menu
              li.divider-vertical
              li
                a.pull-right#touch-top-switch(href="#")
                  i.icon-refresh.icon-white

    #modal.modal.hide
    #iframe.modal.hide
    #loading.modal.hide.loading-spinner

    // Main Content 
    #main-content.container-fluid

    // Phones and Tables Bottom Navigation 
    .navbar.navbar-inverse.navbar-fixed-bottom.hidden-desktop
      .navbar-inner
        .container
          #navbar-bottom-middle-content
            #navbar-bottom-content
          #navbar-bottom
            img.hit-refresh(src="img/svg/hit-white.svg")
            ul.nav.pull-right
              li.dropdown#touch-bottom-config
                a.pull-right(href="#", data-toggle="dropdown")
                  i.icon-cog.icon-white
                ul.dropdown-menu

    // App Initialization
    script(src='/application.js')
    script
      $(function() {
        var app = require('app');
        app.start({
          homes: !{JSON.stringify(data.homes)},
          deviceTypes: !{JSON.stringify(data.deviceTypes)},
          players: !{JSON.stringify(players)}
        });
      });
    script(src='/cities.js')
