!!! 5
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title HOME in touch

    // Libraries
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/scrollbar.css', rel='stylesheet')

    // Custom css
    link(href='/css/hit-colors.css', rel='stylesheet')
    link(href='/css/hit-general.css', rel='stylesheet')
    link(href='/css/hit-navbar.css', rel='stylesheet')
    link(href='/css/hit-forms.css', rel='stylesheet')
    link(href='/css/hit-widget.css', rel='stylesheet')
    link(href='/css/hit-devices.css', rel='stylesheet')
    link(href='/css/hit-media.css', rel='stylesheet')
    link(href='/css/hit-slider.css', rel='stylesheet')

    //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    include templates/navbar

    include templates/home

    include templates/floor

    include templates/room

    include templates/switch-device

    include templates/dimmer-device

    include templates/thermostat-device

    include templates/shutter-device

    include templates/door-device

    include templates/window-device

    include templates/socket-device
    
    include templates/camera-device

    include templates/scenes-device

    include templates/motion-device

    include templates/rgb-device

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container

          // Phones and Tables Top Title 
          .nav-title-container.hidden-desktop
            .nav-title#home-touch-title

          .navbar-top

            // Desktop Top Navigation 
            ul#desktop-breadcrumb-nav.nav.visible-desktop
              li.hit-home
                a(href="#")
                  i.icon-home.icon-white
                  span
              li.hit-floor
                a(href="#")
                  span
              li.hit-room
                a(href="#")
                  span
            ul.nav.pull-right.visible-desktop
              li#desktop-top-config
                a.pull-right(href="#")
                  i.icon-cog.icon-white
                  span &nbsp;Settings
              li.dropdown#desktop-top-opts
                a.pull-right(href="#", data-toggle="dropdown")
                  i.icon-plus.icon-white
                  span &nbsp;Options
                ul.dropdown-menu
              li.divider-vertical
              li
                a.pull-right#desktop-top-switch(href="#")
                  i.icon-refresh.icon-white
                  span &nbsp;Switch Home

            // Phones and Tables Top Navigation 
            ul.nav.hidden-desktop
              li#touch-top-nav
                a(href="#")
                  i.icon-chevron-left.icon-white
                  span
            ul.nav.pull-right.hidden-desktop
              li.dropdown#touch-top-opts
                a.pull-right(href="#", data-toggle="dropdown")
                  i.icon-plus.icon-white
                ul.dropdown-menu
              li.divider-vertical
              li
                a.pull-right#touch-top-switch(href="#")
                  i.icon-refresh.icon-white

    #modal.modal.hide
    #iframe.modal.hide

    // Main Content 
    #main-content.container-fluid

    // Phones and Tables Bottom Navigation 
    .navbar.navbar-inverse.navbar-fixed-bottom.hidden-desktop
      .navbar-inner
        .container

          #navbar-bottom
            ul.nav.pull-right
              li#touch-bottom-config
                a.pull-right(href="#")
                  i.icon-cog.icon-white

    // App Initialization
    script(src='/application.js')
    script
      $(function() {
        var app = require('app');
        app.start({
          homes: !{JSON.stringify(data.homes)},
          deviceTypes: !{JSON.stringify(data.deviceTypes)},
          players: !{JSON.stringify(players)}
        });
      });
